{% extends "layouts/defra.html" %}

{% set pageName="What is the reason for the breach?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "change-status"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v15/dog-records/breach-reason-question" method="post">

        {{ govukCheckboxes({
          name: "breachReason",
          fieldset: {
            legend: {
              text: "What is the reason for the breach?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "owner changed address; Defra not informed",
              text: "Owner changed address; Defra not informed"
            },
            {
              value: "owner failed to produce exemption certificate to police",
              text: "Owner failed to produce exemption certificate to police"
            },
            {
              value: "dog has no third party insurance",
              value: "Dog has no third party insurance"
            },
            {
              value: "dog not kept on lead or muzzled",
              text: "Dog not kept on lead or muzzled"
            },
            {
              value: "dog died; Defra not informed",
              text: "Dog died; Defra not informed"
            },
            {
              value: "dog kept in insecure place",
              text: "Dog kept in insecure place"
            },
            {
              value: "dog kept away from registered address for more than 30 days",
              text: "Dog kept away from registered address for more than 30 days"
            },
            {
              value: "owner failed to produce insurance certificate",
              text: "Owner failed to produce insurance certificate"
            },
            {
              value: "owner not allowed police to read microchip",
              text: "Owner not allowed police to read microchip"
            },
            {
              value: "dog exported; Defra not informed",
              text: "Dog exported; Defra not informed"
            }
          ]
        }) }}

        <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="dog-record">Cancel</a>
      </div>

      </form>

    </div>
  </div>

{% endblock %}
