{% extends "layouts/defra.html" %}

{% set pageName="Error: Why is the dog in breach?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "change-status"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select all reasons the dog is in breach",
            href: "#breachReason"
          }
        ]
      }) }}

      <form class="form" action="/v15/dog-records/breach-reason-error-question" method="post">

          {{ govukCheckboxes({
          name: "breachReason",
          fieldset: {
            legend: {
              text: "Why is the dog in breach?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          errorMessage: {
            text: "Select all reasons the dog is in breach"
          },
          items: [
            {
              value: "new-address",
              text: "Changed address and not informed Defra"
            },
            {
              value: "dog-insured",
              text: "Dog uninsured"
            },
            {
              value: "lead-muzzle",
              text: "Not kept on a lead or muzzled"
            },
            {
              value: "lead-muzzle",
              text: "Dog has died and not informed Defra"
            },
            {
              value: "insecure",
              text: "Kept in an insecure place"
            },
            {
              value: "30-days",
              text: "Kept away from registered address for more than 30 days"
            },
            {
              value: "certificate",
              text: "Failed to produce certificate of exemption for police in 5 days"
            },
            {
              value: "evidence-insurance",
              text: "Failed to give police evidence of insurance in 5 days"
            },
            {
              value: "microchip",
              text: "Failed to allow police to read the dogs microchip"
            },
            {
              value: "exported",
              text: "Dog exported and not informed Defra"
            }
          ]
        }) }}

        <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="dog-record">Cancel</a>
      </div>

      </form>

    </div>
  </div>

{% endblock %}
