{% extends "layouts/defra.html" %}

{% set pageName="Check activity" %}

{% block pageTitle %}
  {{ pageName }} – Dog ED30227 - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "dog-record-in-breach"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">ED30227</span>
        <h1 class="govuk-heading-l">Check activity</h1>

        <table class="govuk-table">

<caption class="govuk-table__caption govuk-visually-hidden">All activity</caption>


<thead class="govuk-table__head">
<tr class="govuk-table__row">

<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date</th>

<th scope="col" class="govuk-table__header govuk-!-width-one-half">Activity</th>

<th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Team member</th>

</tr>
</thead>

<tbody class="govuk-table__body">
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">8 July 2024</td>
   <td class="govuk-table__cell">Dog status set to In breach:
     <br>
     <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2 govuk-!-margin-bottom-0">

       {% if data['breachReason'] == 'new-address' %}
        <li>Changed address and Defra not informed</li>
      {% endif %}

       {% if data['breachReason'] == 'dog-insured' %}
        <li>Dog uninsured</li>
       {% endif %}

       {% if data['breachReason'] == 'lead-muzzle' %}
        <li>Not kept on a lead or muzzled</li>
      {% endif %}

        {% if data['breachReason'] == 'dog-died' %}
         <li>Dog has died and Defra not informed</li>
       {% endif %}

       {% if data['breachReason'] == 'insecure' %}
        <li>Kept in an insecure place</li>
      {% endif %}

       {% if data['breachReason'] == '30-days' %}
        <li>Kept away from registered address for more than 30 days</li>
       {% endif %}

       {% if data['breachReason'] == 'certificate' %}
        <li>Failed to produce certificate of exemption for police in 5 days</li>
      {% endif %}

        {% if data['breachReason'] == 'evidence-insurance' %}
         <li>Failed to give police evidence of insurance in 5 days</li>
       {% endif %}

       {% if data['breachReason'] == 'microchip' %}
        <li>Failed to allow police to read the dog’s microchip</li>
      {% endif %}

        {% if data['breachReason'] == 'exported' %}
         <li>Dog exported and Defra not informed</li>
       {% endif %}

    </ul>
   </td>
   <td class="govuk-table__cell">Evyonne</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">8 July 2024</td>
   <td class="govuk-table__cell">Police correspondance received</td>
   <td class="govuk-table__cell">Evyonne</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">12 April 2014</td>
   <td class="govuk-table__cell">Certificate issued</td>
   <td class="govuk-table__cell">Filip</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">12 April 2014</td>
   <td class="govuk-table__cell">Status set to Exempt</td>
   <td class="govuk-table__cell">Filip</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">14 December 2024</td>
   <td class="govuk-table__cell">Insurance certificate received</td>
   <td class="govuk-table__cell">Filip</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">10 April 2014</td>
   <td class="govuk-table__cell">Neutering confirmed</td>
   <td class="govuk-table__cell">Filip</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">11 December 2024</td>
   <td class="govuk-table__cell">Microchip number verified</td>
   <td class="govuk-table__cell">Filip</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">5 December 2024</td>
   <td class="govuk-table__cell">Owner details added</td>
   <td class="govuk-table__cell">Karen</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">5 December 2024</td>
   <td class="govuk-table__cell">Dog details added</td>
   <td class="govuk-table__cell">Karen</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">30 November 2023</td>
   <td class="govuk-table__cell">Application fee paid</td>
   <td class="govuk-table__cell">Karen</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">13 September 2013</td>
   <td class="govuk-table__cell">Status set to Pre-exempt</td>
   <td class="govuk-table__cell">Filip</td>
 </tr>
 <tr class="govuk-table__row">
   <td class="govuk-table__cell">13 September 2013</td>
   <td class="govuk-table__cell">CDO issued</td>
   <td class="govuk-table__cell">Filip</td>
 </tr>
</tbody>
</table>

    </div>
  </div>

{% endblock %}
