{% extends "layouts/main.html" %}

{% set serviceName %}
  Dangerous Dogs Index design history
{% endset%}

{% set pageName="Dangerous Dogs Index design history" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
      DDI design history
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-7">Last updated:
      <span class="govuk-body govuk-!-font-weight-bold">7 February 2025</<span>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Search
      </h2>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a class="govuk-link govuk-link--no-visited-state" href="./search">The DDI search</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the rationale behind the iterative changes</li>
        <li>the differences in search functionality for the police</li>
        <li>the reasoning for defaulting police searches to the officer’s local area</li>
      </ul>


    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Search results
      </h2>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a class="govuk-link govuk-link--no-visited-state" href="./search-results">The search results</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>our starting assumptions</li>
        <li>feedback from the Alpha assessment</li>
        <li>usability testing outcomes</li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Records and record activity
      </h2>

      <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">
        <a class="govuk-link govuk-link--no-visited-state" href="./records">Dog and owner records</a>
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the rationale behind the layout design</li>
        <li>the reasoning behind the functional differences for the DDI team and the police</li>
      </ul>

    </div>
  </div>

  <div class="govuk-grid-row">
   <div class="govuk-grid-column-one-half">

    <h2 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-1">
      Background and context for design decisions
    </h2>

   <p class="govuk-body">
    <a class="govuk-link govuk-link--no-visited-state" href="https://eaflood.atlassian.net/wiki/spaces/DDI/folder/5415993372">
      The design section on Confluence</a>
    provides background on the service and context behind key design decisions.
   </p>
  </div>

</div>

{% endblock %}
