{% extends "layouts/defra.html" %}

{% set pageName="Generate a confirmation of withdrawal letter to post" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

<div class="govuk-main-wrapper">

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Manage CDOs",
      href: "manage-cdos-all"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-m">Dog ED17343</span>

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <ol class="govuk-list govuk-list--number">
        <li>Select the generate letter button.</li>
        <li>Save the letter to SharePoint.</li>
        <li>Print the letter.</li>
      </ol>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-3">
       Post the letter to this address:
      </h2>

      <p class="govuk-body govuk-!-margin-bottom-6">
        Garry McFadyen
        <br>
        122 Common Road
        <br>
        Bexhill-on-Sea
        <br>
        TN39 4JB
      </p>

        <div class="govuk-button-group">
        {{ govukButton({
          text: "Generate letter"
        }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="manage-cdos-all">Cancel</a>
      </div>

    </div>
  </div>
</div>

{% endblock %}
