{% extends "layouts/defra-layout.html" %}

{% set pageName="Add insurance number" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "cdo-tasks-task-1"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v3/cdo/manage/cdo-tasks-task-2" method="post">

      {{ govukInput({
        label: {
          text: "Add insurance number",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "We might need a hint to add the policy number."
        },
        classes: "govuk-input--width-10",
        name: "eventName"
      }) }}

      <button class="govuk-button" data-module="govuk-button">
        Mark as complete
      </button>

      </form>

    </div>
  </div>

{% endblock %}
