{% extends "layouts/defra-sign-out-2.html" %}

{% set pageName="Download the activity history for Dog ED17343" %}

{% block pageTitle %}
  {{ pageName }} – Dog ED17343 - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "./activity-all"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-!-padding-right-9">

        <h1 class="govuk-heading-l govuk-!-padding-right-9">{{ pageName }}</h1>

        <ol class="govuk-list govuk-list--number govuk-list--spaced">
         <li>Select ‘Download the activity history’
           </li>
         <li>If the file opens in the browser, right-click on the file or click the download icon (top-right). Select Save as or Download, then choose where to save the file and click Save.
          </li>
        <li>If the file opens in a viewer, find the Download icon (usually a downward arrow). Click it to download.
          </li>
        </ol>

         <a href="/public/downloads/DogED17343.pdf" role="button" type="submit" class="govuk-button" data-module="govuk-button">
           Download the activity history
         </a>


    </div>
  </div>

{% endblock %}
