{% extends "layouts/defra-sign-out-2.html" %}

{% set pageName="Download the history of activity for Dog ED17343" %}

{% block pageTitle %}
  {{ pageName }} – Dog ED17343 - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "./activity-all"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters govuk-!-padding-right-9">

        <h1 class="govuk-heading-l govuk-!-padding-right-9">{{ pageName }}</h1>

         {{ govukInsetText({
           text: "The file will either open in your browser or download directly, depending on your browser settings."
         }) }}

         <a href="/public/downloads/DogED17343.pdf" role="button" type="submit" class="govuk-button" data-module="govuk-button">
           Download the history
         </a>


    </div>
  </div>

{% endblock %}
