{% extends "layouts/defra-sign-out-2.html" %}

{% block pageTitle %}
  Status for Dog ED30227 changed – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        classes: "govuk-!-margin-bottom-7",
        titleText: "Status for Dog ED30227 changed to",
        text: data['dogStatus'] or "In breach"


      }) }}

      {% if data['dogStatus'] == 'In breach' %}
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="dog-record-in-breach">Go to the dog record for Dog ED30227</a>
        </p>

        {% else %}
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Go to the dog record for Dog ED30227</a>
        </p>
      {% endif %}

    </div>
  </div>

{% endblock %}
