{% extends "layouts/main.html" %}

{% block pageTitle %}
  Record created – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-top-2" style="display: flex;justify-content: space-between;align-items: center;">
      {{ govukBreadcrumbs({
        items: [
          {
            text: "Home",
            href: "../index"
          }
        ]
      }) }}
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Record created",
        html: "ED10874"
      }) }}

      <br>
      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          View record ED10874
        </a>
      </p>

    </div>
  </div>

{% endblock %}
