{% extends "layouts/defra.html" %}

{% set pageName="Confirm dog details" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "dog-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/cdo/create/confirmation" method="post">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-4",
        rows: [
          {
            key: {
              text: "Breed type"
            },
            value: {
              text: data['breedType1'] or "XL Bully"
            }
          },
          {
            key: {
              text: "Dog name"
            },
            value: {
              text: data['dogName1'] or "Bruce"
            }
          },
          {
            key: {
              text: "CDO Issue Date"
            },
            value: {
              text: data['cdo-issued'] or "29 November 2023"
            }
          },
          {
            key: {
              text: "CDO Expiry Date"
            },
            value: {
              text: data['cdo-expiry'] or "29 January 2024"
            }
          }
        ]
      }) }}

      <p class="govuk-body govuk-!-margin-bottom-7">
        <a class="govuk-link govuk-link--no-visited-state" href="dog-details-edit">Change dog details</a>
      </p>

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save record"
        }) }}

        {{ govukButton({
          text: "Add another dog",
          classes: "govuk-button--secondary",
          href: "dog-details-2"
        }) }}
      </div>

    </div>
  </div>
{% endblock %}
