{% extends "layouts/main.html" %}

{% set pageName="Change owner details" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "confirm-details"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/cdo/create/confirm-address" method="post">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {{ pageName }}
        </legend>

        <div class="govuk-form-group govuk-!-margin-bottom-5">
          <label class="govuk-label" for="first-name">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" value="{{ firstName }} Leah" id="first-name" name="firstName" type="text" autocomplete="first-name">
        </div>

        <div class="govuk-form-group govuk-!-margin-bottom-5">
          <label class="govuk-label" for="last-name">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" value="Johnstone" id="last-name" name="lastName" type="text">
        </div>

        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="owner-date-of-birth-hint">
          <legend class="govuk-fieldset__legend">
            Date of birth (optional)
          </legend>

          <div id="owner-date-of-birth-hint" class="govuk-hint">
            For example, 27 3 1987
          </div>

          <div class="govuk-date-input" id="owner-date-of-birth">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="owner-date-of-birth-day">
                  Day
                </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="owner-date-of-birth-day" name="owner-date-of-birth-day" type="text" inputmode="numeric">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="owner-date-of-birth-month">
                  Month
                </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="owner-date-of-birth-month" name="owner-date-of-birth-month" type="text" inputmode="numeric">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="owner-date-of-birth-year">
                  Year
                </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" value="1986" id="owner-date-of-birth-year" name="owner-date-of-birth-year" type="text" inputmode="numeric">
              </div>
            </div>

          </div>
        </fieldset>

      {{ govukDateInput({
        id: "owner-date-of-birth",
        namePrefix: "owner-date-of-birth",
        fieldset: {
          legend: {
            text: "Date of birth (optional)"
          }
        },
        hint: {
          text: "For example, 27 3 1987"
        }
      }) }}

        <div class="govuk-form-group govuk-!-margin-bottom-5">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10 govuk-!-padding-bottom-0" value="{{ addressPostcode }} SO16 3GP" id="address-postcode" name="eventName" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="last-name">
            Property name or number (optional)
          </label>
          <div id="event-name-hint" class="govuk-hint">
            For example, ‘The Mill’, ‘116’ or ‘Flat 36a’
          </div>
          <input class="govuk-input govuk-input--width-5" value="{{ propertyNumber }} 12" id="address-name" name="addressName" type="text">
        </div>
      </fieldset>

      <p class="govuk-body govuk-!-margin-bottom-6">
        <a class="govuk-link govuk-link--no-visited-state" href="create/enter-address">Enter address manually</a>
      </p>

      <button class="govuk-button" data-module="govuk-button">
        Find address
      </button>

      </form>

    </div>
  </div>

{% endblock %}
