{% extends "layouts/main.html" %}

{% block pageTitle %}
  Change police and court details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "confirm-address"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/cdo/create/confirm-details" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

        {% call govukFieldset({
          legend: {
            text: "Change police and court details",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              text: "Police force"
            },
            classes: "govuk-!-width-three-quarters",
            id: "police-force",
            name: "police-force",
            value: data['police-force'] or "Hampshire Constabulary"
          }) }}

          {{ govukInput({
            label: {
              text: "Dog liason officer (optional)"
            },
            classes: "govuk-!-width-three-quarters",
            id: "dog-liason-officer",
            name: "dog-liason-officer",
            value: data['dog-liason-officer'] or "Nigel Hillier"
          }) }}

          {{ govukInput({
            label: {
              text: "Court (optional)"
            },
            classes: "govuk-!-width-three-quarters",
            id: "court",
            name: "court",
            value: data['court'] or "Southampton (West Hampshire) Magistrates’ Court"
          }) }}

        {% endcall %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Confirm changes"
          }) }}

          <a class="govuk-link govuk-link--no-visited-state" href="confirm-details">Cancel</a>
        </div>

      </form>

    </div>
  </div>

{% endblock %}
