{% extends "layouts/defra.html" %}

{% set pageName="Select address" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../create"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/cdo/create/police-details" method="post">

        <h1 class="govuk-heading-l">
          {{ pageName }}
        </h1>

        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="../create#address-postcode">
            Change the postcode
          </a>
        </p>

        {{ govukRadios({
          classes: "govuk-radios--small",
          name: "whereDoYouLive",
          fieldset: {
            legend: {
              text: "Select address",
              isPageHeading: false,
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "2 Primrose Road, Southampton SO16 3GP",
              text: "2 Primrose Road, Southampton SO16 3GP"
            },
            {
              value: "4 Primrose Road, Southampton SO16 3GP",
              text: "4 Primrose Road, Southampton SO16 3GP"
            },
            {
              value: "6 Primrose Road, Southampton SO16 3GP",
              text: "6 Primrose Road, Southampton SO16 3GP"
            },
            {
              value: "8 Primrose Road, Southampton SO16 3GP",
              text: "8 Primrose Road, Southampton SO16 3GP"
            },
            {
              value: "10 Primrose Road, Southampton SO16 3GP",
              text: "10 Primrose Road, Southampton SO16 3GP"
            },
            {
              value: "12 Primrose Road, Southampton SO16 3GP",
              text: "12 Primrose Road, Southampton SO16 3GP"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Select address"
      }) }}

      </form>

    </div>
  </div>
{% endblock %}
