//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import "defra-settings";
@import "node_modules/govuk-frontend/dist/govuk/all";

//defra header
.defra-internal-header {
    padding: 20px 0;
    border-bottom: 8px solid $defra-brand-colour;

  }

  @media (min-width: 48.0625em) {
    .defra-internal-header {
      display: table;
      width: 100%;
      min-height: 35px;
    }
  }

  .defra-internal-header .defra-logo {
    min-width: 275px;
    margin-bottom: 15px;
  }

  @media (min-width: 48.0625em) {
    .defra-internal-header .defra-logo {
      display: table-cell;
      width: 33.33%;
      margin-bottom: 0;
    }
  }

  @media (min-width: 48.0625em) {
    .defra-internal-service-name {
      display: table-cell;
      vertical-align: middle;
      padding-left: 2em;
    }
  }

  .defra-internal-service-name__link {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
  }

  .defra-internal-service-name__link:link,
  .defra-internal-service-name__link:visited {
    color: $govuk-text-colour
  }

  @media (min-width: 48.0625em) {
    .defra-internal-service-name__link {
      font-size: 24px;
    }
  }

  .defra-logo {
    border-left: 2px solid $defra-brand-colour;
    padding-left: 8px;
  }

  .defra-logo__link {
    display: table;
  }

  .defra-logo__link::before {
    content: '';
    display: table-cell;
    background: url("/public/images/Department_for_Environment,_Food_and_Rural_Affairs_logo.png") no-repeat;
    background-size: 100% 100%;
    width: 138px;
    height: 75px;
  }

  .defra-logo__link:link,
  .defra-logo__link:visited {
    text-decoration: none;
    font-size: 20px;
    color: $govuk-text-colour;
  }

  .defra-logo__img {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  //search results
  .defra-summary-header {
    display: flex;
    align-items: flex-end;
  }

  .defra-results {
  vertical-align: top;
  }

  //tags
  .defra-tag--grey {
    color: govuk-colour("white");
    background: $govuk-secondary-text-colour;
  }

  .defra-align-right {
    position: absolute;
    float: right;
  }

  .defra-text-align-left {
    text-align: left;
  }

  .defra-text {
    color: $govuk-text-colour;
  }

  .defra-secondary-text {
    color: $govuk-secondary-text-colour;
  }

  //navigation
  .defra-navigation__link {
    color: $govuk-text-colour !important;
    text-decoration: none;
    font-weight: 400 !important;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .defra-navigation__link:visited {
    color: $govuk-text-colour;
    font-weight: 400 !important;
  }

  .defra-navigation__link:active {
    color: $govuk-text-colour;
    font-weight: 400 !important;
  }

  .defra-navigation__link:hover {
    color: $govuk-text-colour;
    font-weight: 400 !important;
    background-color: #ddd !important;
  }

  .defra-navigation__link:before {
    color: $govuk-text-colour;
    font-weight: 400 !important;
    background-color: $govuk-text-colour !important;
  }

  .defra-navigation__right {
    color: $govuk-text-colour;
    font-weight: 400 !important;
    background-color: $govuk-text-colour !important;
  }
