//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here
@import "defra-settings";
@import "node_modules/govuk-frontend/dist/govuk/all";

//defra header
.defra-internal-header {
    padding: 20px 0 18px;
    border-bottom: 8px solid $defra-brand-colour;

  }

  @media (min-width: 48.0625em) {
    .defra-internal-header {
      display: table;
      width: 100%;
      min-height: 35px;
    }
  }

  .defra-internal-header .defra-logo {
    min-width: 275px;
    margin-bottom: 15px;
  }

  @media (min-width: 48.0625em) {
    .defra-internal-header .defra-logo {
      display: table-cell;
      width: 33.33%;
      margin-bottom: 0;
    }
  }

  @media (min-width: 48.0625em) {
    .defra-internal-service-name {
      display: table-cell;
      vertical-align: middle;
      padding-left: 2em;
    }
  }

  .defra-internal-service-name__link {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
  }

  .defra-internal-service-name__link:link,
  .defra-internal-service-name__link:visited {
    color: $govuk-text-colour
  }

  @media (min-width: 48.0625em) {
    .defra-internal-service-name__link {
      font-size: 24px;
    }
  }

  .defra-logo {
    border-left: 2px solid $defra-brand-colour;
    padding-left: 8px;
  }

  .defra-logo__link {
    display: table;
  }

  .defra-logo__link::before {
    content: '';
    display: table-cell;
    background: url("/public/images/Department_for_Environment,_Food_and_Rural_Affairs_logo.png") no-repeat;
    background-size: 100% 100%;
    width: 138px;
    height: 75px;
  }

  .defra-logo__link:link,
  .defra-logo__link:visited {
    text-decoration: none;
    font-size: 20px;
    color: $govuk-text-colour;
  }

  .defra-logo__img {
    visibility: hidden;
    height: 0;
    width: 0;
  }


  //layout
  .defra-grid-column-two-fifths {
    float: right;
    box-sizing: border-box;
    width: 40%;
    padding: 0 15px;
  }

  .defra-grid-column-three-fifths {
    float: left;
    box-sizing: border-box;
    width: 60%;
    padding: 0 15px;
  }

  //search
  .defra-max-width-full {
    max-width: 100% !important
  }

  //search results
  .defra-summary-header {
    display: flex;
    align-items: flex-end;
  }

  .defra-results {
  vertical-align: top;
  }

  .defra-email {
    box-sizing: border-box;
    border: 1px solid $govuk-border-colour;
    padding: 20px;
  }

  //tags
  .defra-tag--grey {
    color: govuk-colour("white");
    background: $govuk-secondary-text-colour;
  }

  .defra-tag-nowrap {
    white-space: nowrap !important;
    max-width: 800px !important;
  }

  .defra-text-align-right {
    text-align: right !important;
  }

  .defra-align-right {
    position: absolute;
    float: right;
  }

  .defra-text-align-left {
    text-align: left;
  }

  .defra-text {
    color: $govuk-text-colour;
  }

  .defra-secondary-text {
    color: $govuk-secondary-text-colour;
  }

  //navigation
  .defra-navigation__link {
    color: $govuk-text-colour !important;
    text-decoration: none;
    font-weight: 400 !important;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .defra-navigation__link:visited {
    color: $govuk-text-colour;
  }

  .defra-navigation__link:active {
    color: $govuk-text-colour;
  }

  .defra-navigation__link:hover {
    color: $govuk-text-colour;
    background-color: #ddd !important;
  }

  .defra-navigation__link:before {
    color: $govuk-text-colour;
    background-color: $govuk-text-colour !important;
  }

  .defra-ddi-header {
    width: 100%;
    font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    border-bottom: 10px solid #ffffff;
    color: #fff;
    background: #fff;
  }

  .defra-ddi-header__container {
    min-height: 115px;
    position: relative;
    margin-bottom: -7px;
    padding-top: 10px;
    border-bottom: 7px solid #00a33b;
  }

  .defra-ddi-header__service-name {
    min-height: 115px;
    margin-bottom: 10px;
    font-size: 1.125rem;
    line-height: 1.1111111111;
  }

  @media (min-width: 40.0625em) {
  .defra-ddi-header__service-name {
    font-size: 1.5rem;
    line-height: 1.25;
    }
  }

  .defra-ddi-header__link {
    text-align: center;
    text-decoration: none;
  }

  .defra-ddi-header__link:link {
    color: #333;
  }

  .defra-ddi-header__link:visited {
    color: #333;
  }

  .defra-header__right {
    float: right !important;
    margin-top: -18px;
    margin-bottom: 0;
    }

  .defra-navigation__right {
    color: $govuk-text-colour !important;
    font-size: 1rem;
    float: right;
  }

  .defra-navigation__right:visited {
    color: $govuk-text-colour;
  }

  .defra-align-table {
    vertical-align: middle;
  }

  .defra-input--width-8 {
    max-width: 8.5em !important;
  }

  .defra-input--width-6 {
    max-width: 8em !important;
  }

  .defra-input--width-4 {
    max-width: 4.5em !important;
  }

  .defra-table-line-height {
    line-height: 1.24 !important;
  }

  .defra-background {
    background-color: white !important;
  }

  .defra-checkbox {
    position: relative !important;
    margin: 3px 10px 0 0;
    float: right;
  }

  .defra-table-cell {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .defra-nowrap {
    white-space: nowrap !important;
  }
