{% extends "layouts/defra.html" %}

{% set pageName="Dog ED31772" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form class="form" action="/v9/microchip-number/dog-records/comment/comment-type" method="post">

    <div class="moj-page-header-actions govuk-!-margin-bottom-2">

      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl">{{ pageName }}</h1>
      </div>

  <div class="moj-page-header-actions__actions">
    <div class="moj-button-menu">
      <div class="moj-button-menu__wrapper">
        <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
          Report something
        </button>
      </div>
    </div>
  </div>

</div>
{{govukTag({
  text: "Interim exempt",
  classes: "govuk-tag--green govuk-!-margin-bottom-6"
})}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Dog details",
      classes: "defra-summary-header"
        }
      },
      rows: [
        {
          classes: "govuk-!-width-one-third",
          key: {
            text: "Name"
          },
          value: {
            text: "Conan"
          }
        },
        {
          key: {
            text: "Breed type"
          },
          value: {
            text: data['dog-breed'] or "XL Bully"
          }
        },
        {
          key: {
            text: "Colour"
          },
          value: {
            text: "Dark brown"
          }
        },
        {
          key: {
            text: "Sex"
          },
          value: {
            text: "Male"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "29 August 2015"
          }
        },
        {
          key: {
            text: "Microchip number"
          },
          value: {
            text: "958000000338549"
          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Owner details",
      classes: "defra-summary-header"
      },
      id: "owner-details",
      actions: {
        items: [
          {
            href: "../owner-records/owner-record-md-2",
            text: "Owner record",
            classes: "defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state",
            visuallyHiddenText: "for owner"
            }
          ]
        }
      },
      rows: [
        {
          classes: "govuk-!-width-one-third",
          key: {
            text: "Name"
          },
          value: {
            text: "Michael Denton"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "18 May 1975"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "105 Broomfield Street<br>London<br>E14 6BB"
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: "dentzz75@hotmail.com"
          }
        },
        {
          key: {
            text: "Telephone number 1"
          },
          value: {
            text: "07335 645428"
          }
        },
        {
          key: {
            text: "Country"
          },
          value: {
            text: data['country'] or "England"
          }
        }
      ]
    }) }}

    </div>

    <div class="govuk-grid-column-one-half">

      {{ govukSummaryList({
        classes: "govuk-!-font-size-16",
        card: {
          title: {
            text: "Exemption details",
            classes: "defra-summary-header"
          }
        },
        rows: [
          {
            key: {
              text: "Status"
            },
            value: {
              text: "Interim exempt"
           }
          },
          {
            key: {
              text: "CDO issued"
            },
            value: {
              text: "23 February 2024"
            }
          },
          {
            key: {
              text: "CDO expiry"
            },
            value: {
              text: "23 April 2024"
            }
          },
          {
            key: {
              text: "Court"
            },
            value: {
              text: "City of London Magistrates’ Court"
            }
          },
          {
            key: {
              text: "Police force"
            },
            value: {
              text: "Metroplitan Police"
            }
          },
          {
            key: {
              text: "Dog legislation officer"
            },
            value: {
              text: "Elaine Muscatt"
            }
          },
          {
            key: {
              text: "Insurance company"
            },
            value: {
              text: "Dogs Trust"
            }
          },
          {
            key: {
              text: "Insurance renewal date"
            },
            value: {
              text: "2 March 2025"
            }
          }
        ]
      }) }}

      </div>
    </div>
  </div>
</div>
{% endblock %}
