{% extends "layouts/defra-admin.html" %}

{% set pageName="Manage activity lists" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../index"
    },
    {
      text: "Admin",
      href: "index"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <p class="govuk-body">
        Add or remove activities to the dog record and owner record activity lists.
      </p>

      <p class="govuk-body">
        Removed activities will not be available for new applications. Exisiting records are unchanged.
      </p>

      <h2 class="govuk-heading-m">
        Dog records
      </h2>

      {{ govukSummaryList({
        card: {
          title: {
            text: "Send activities"
          },
          actions: {
            items: [
              {
                href: "add-activity",
                text: "Add an activity",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "to the dog record list of send activities"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Change of address form",
              classes: "govuk-!-font-weight-regular govuk-!-width-three-quarters"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "change of address form"
                }
              ]
            }
          },
          {
            key: {
              text: "Death of a dog form",
              classes: "govuk-!-font-weight-regular govuk-!-width-three-quarters"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "death of a dog form"
                }
              ]
            }
          },
          {
            key: {
              text: "Witness statement",
              classes: "govuk-!-font-weight-regular govuk-!-width-three-quarters"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "witness statement"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukSummaryList({
        card: {
          title: {
            text: "Receive activities"
          },
          actions: {
            items: [
              {
                href: "add-activity-receive",
                text: "Add an activity",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "to the dog record list of receive activities"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Judicial review notice",
              classes: "govuk-!-font-weight-regular govuk-!-width-three-quarters"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "judicial review notice"
                }
              ]
            }
          },
          {
            key: {
              text: "Police correspondence",
              classes: "govuk-!-font-weight-regular govuk-!-width-three-quarters"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "police correspondence"
                }
              ]
            }
          },
          {
            key: {
              text: "Witness statement request",
              classes: "govuk-!-font-weight-regular govuk-!-width-three-quarters"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "witness statement request"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Owner records
      </h2>

      {{ govukSummaryList({
        card: {
          title: {
            text: "Send activities"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Add an activity",
                classes: "govuk-link--no-visited-state",
                visuallyHiddenText: "to the owner record send activities"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Change of address form",
              classes: "govuk-!-font-weight-regular govuk-!-width-three-quarters"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "change of address form"
                }
              ]
            }
          }
        ]
      }) }}

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Receive activities
          </h2>
          <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
              <a class="govuk-link" href="#">Add an activity<span class="govuk-visually-hidden"> of University of Gloucestershire (University of Gloucestershire)</span></a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
