{% extends "layouts/defra.html" %}

{% set pageName="Dog ED17343" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "manage-cdos"
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-column-full-width">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        {{ pageName }}
      </h1>

      {{govukTag({
        text: "CDO entered",
        classes: "govuk-tag--green govuk-!-margin-bottom-6"
      })}}

      {{ govukTaskList({
        idPrefix: "company-details",
        items: [
          {
            title: {
              text: "Send application pack"
            },
            href: "#",
            status: {
              tag: {
                text: "In progress",
                classes: "govuk-tag--light-blue"
              }
            }
          },
          {
            title: {
              text: "Record insurance details"
            },
            href: "#",
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Send Form 2"
            },
            href: "#",
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Verify microchip and confirm neutering"
            },
            hint: {
              text: "We can group more than one task together."
            },
            href: "#",
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Receive payment"
            },
            href: "#",
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Issue certificate"
            },
            href: "#",
            status: {
              tag: {
                text: "Not yet started",
                classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}

    </div>
  </div>
</div>

{% endblock %}
