{% extends "layouts/defra.html" %}

{% set pageName="Manage CDOs" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../../index"
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-column-full-width">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <table class="govuk-table govuk-!-font-size-16">

  <caption class="govuk-table__caption govuk-visually-hidden">Currently active CDOs</caption>


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">Dog number</th>

      <th scope="col" class="govuk-table__header">Owner</th>

      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Breed type</th>

      <th scope="col" class="govuk-table__header">Status</th>

      <th scope="col" class="govuk-table__header">Next task</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="cdo-tasks">
            ED17343</a></td>

          <td class="govuk-table__cell">
            Dennis Campbell</td>

          <td class="govuk-table__cell">
            XL Bully</td>

          <td class="govuk-table__cell">
            Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "CDO entered",
              classes: "govuk-tag--green govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
          ED17819</a></td>

          <td class="govuk-table__cell">
            Ioana Bortan</td>

          <td class="govuk-table__cell">
            XL Bully</td>

          <td class="govuk-table__cell">
            Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Confirm neutering",
              classes: "govuk-tag--pink govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED30012</td>

          <td class="govuk-table__cell"
          >Gary Jones</td>

          <td class="govuk-table__cell"
          >XL Bully</td>

          <td class="govuk-table__cell"
          >Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Form 2",
              classes: "govuk-tag--light-blue govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED15391</td>

          <td class="govuk-table__cell"
          >Wojciech Krychowiak</td>

          <td class="govuk-table__cell"
          >XL Bully</td>

          <td class="govuk-table__cell"
          >Interim exemption</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Verify microchip",
              classes: "govuk-tag--purple govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED19858</td>

          <td class="govuk-table__cell">
            Heidi Sturgeon</td>

          <td class="govuk-table__cell">
            XL Bully</td>

          <td class="govuk-table__cell">
            Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Insurance",
              classes: "govuk-tag--blue govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED30012</td>

          <td class="govuk-table__cell"
          >Adhavan Razeek</td>

          <td class="govuk-table__cell"
          >XL Bully</td>

          <td class="govuk-table__cell"
          >Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Verify microchip",
              classes: "govuk-tag--purple govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED12545</td>

          <td class="govuk-table__cell"
          >Tyler McGrath</td>

          <td class="govuk-table__cell"
          >XL Bully</td>

          <td class="govuk-table__cell"
          >Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Verify microchip",
              classes: "govuk-tag--purple govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED17202</td>

          <td class="govuk-table__cell">
            Helen Renard</td>

          <td class="govuk-table__cell">
            XL Bully</td>

          <td class="govuk-table__cell">
            Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Application pack",
              classes: "govuk-tag--turquoise govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED39346</td>
          <td class="govuk-table__cell">
           Raheem Powell</td>

          <td class="govuk-table__cell">
           XL Bully</td>

          <td class="govuk-table__cell">
           Withdrawn</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Withdrew before exempt",
              classes: "govuk-tag--red govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED17882</td>

          <td class="govuk-table__cell">
           Luke Kettleborough</td>

          <td class="govuk-table__cell">
           XL Bully</td>

          <td class="govuk-table__cell">
           Interim exemption</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Interim exemption entered",
              classes: "govuk-tag--grey govuk-!-font-size-16"
            })}}
           </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED20553</td>

          <td class="govuk-table__cell"
          >Donlan Moloney</td>

          <td class="govuk-table__cell"
          >Pit Bull Terrier</td>

          <td class="govuk-table__cell"
          >Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Insurance",
              classes: "govuk-tag--blue govuk-!-font-size-16"
            })}}
           </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED17399</td>

          <td class="govuk-table__cell"
          >Catherine Hyde</td>

          <td class="govuk-table__cell"
          >XL Bully</td>

          <td class="govuk-table__cell"
          >Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Insurance",
              classes: "govuk-tag--blue govuk-!-font-size-16"
            })}}
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED17435</td>

          <td class="govuk-table__cell">
           Brian Gaston</td>

          <td class="govuk-table__cell">
           XL Bully</td>

          <td class="govuk-table__cell">
           Pre-exempt</td>

          <td class="govuk-table__cell">
            {{govukTag({
              text: "Verify microchip",
              classes: "govuk-tag--purple govuk-!-font-size-16"
            })}}
          </td>
        </tr>
  </tbody>
</table>

    </div>
  </div>
</div>

{% endblock %}
