{% extends "layouts/defra-police-2.html" %}

{% set pageName="Form received" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../index"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          {% if data['addReceived'] %}
          {{ data['addReceived'] }}
          {% elif data['addReceived'] == None %}
            Form received
          {% endif %}
           on 8 February 2024
        </h1>

        <div class="govuk-panel__body">
          Dog ED30874
        </div>
      </div>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="../dog-record-ED30874">Go to the record for Dog ED30874</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
