{% extends "layouts/defra.html" %}

{% set pageName="Manage interim exemptions" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../index"
    },
    {
      text: "Manage CDOs",
      href: "manage-cdos-all"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="defra-grid-column-three-fifths">

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

  </div>

  <div class="defra-grid-column-two-fifths defra-text-align-right">

      {{ govukButton({
        text: "Manage CDOs",
        href: "manage-cdos-all",
        classes: "govuk-button--secondary "
      }) }}

      {{ govukButton({
        text: "Needs action",
        href: "needs-action",
        classes: "govuk-button--secondary govuk-!-margin-left-1"
      }) }}

    </div>

    <div class="govuk-grid-column-full">

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-input--width-5" aria-sort="descending">Interim exempt for</th>
          <th scope="col" class="govuk-table__header govuk-input--width-10" aria-sort="none">Index number</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" aria-sort="none">Owner</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-third" aria-sort="none">Police force</th>
        </tr>
      </thead>

    <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="6">
              6 months</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED29458</a></td>
            <td class="govuk-table__cell" data-sort-value="Cordner">
              Levi Cordner
            </td>
            <td class="govuk-table__cell">Metropolitan Police Service</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="6">
              6 months
            </td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED36294</a>
            </td>
            <td class="govuk-table__cell" data-sort-value="McLaughlin">
              Adam McLaughlin
            </td>
            <td class="govuk-table__cell">Kent Police</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="6">
            6 months
            </td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED10059
            </td>
            <td class="govuk-table__cell" data-sort-value="Howe">
              Billy Howe
            </td>
            <td class="govuk-table__cell">Merseyside Police</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="5">
              5 months
            </td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED23846
            </td>
            <td class="govuk-table__cell" data-sort-value="Castro">
              Quevin Castro
            </td>
            <td class="govuk-table__cell">Cleveland Police</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="5">
              5 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED10873
            </td>
            <td class="govuk-table__cell" data-sort-value="Duckworth">
              Michelle Duckworth
            </td>
            <td class="govuk-table__cell">Lancashire Constabulary</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="5">
              5 months
            </td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED20562
            </td>
            <td class="govuk-table__cell" data-sort-value="Kouhyar">
            Maziar Kouhyar
            </td>
            <td class="govuk-table__cell">Dyfed-Powys Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="5">
              5 months
            </td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED23865
            </td>
            <td class="govuk-table__cell" data-sort-value="Woodyard">
              Alex Woodyard
            </td>
            <td class="govuk-table__cell">Essex Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="5">
              5 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED19220</td>
            <td class="govuk-table__cell" data-sort-value="Watson">
              Rachel Watson</td>
            <td class="govuk-table__cell">Staffordshire Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="4">
              4 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED10349</td>
            <td class="govuk-table__cell" data-sort-value="Chadwick">
             Kai Chadwick</td>
            <td class="govuk-table__cell">Metropolitan Police Service
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="4">
              4 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED29465</td>
            <td class="govuk-table__cell" data-sort-value="Batty">
             Leona Batty</td>
           <td class="govuk-table__cell">Lancashire Constabulary
           </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="4">
              4 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED19744</td>
            <td class="govuk-table__cell" data-sort-value="Harriott">
            Mary Harriott</td>
            <td class="govuk-table__cell">Greater Manchester Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="4">
              4 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED28475</td>
            <td class="govuk-table__cell" data-sort-value="Sykes-Kenworthy">
              Lendell Sykes-Kenworthy</td>
            <td class="govuk-table__cell">Metropolitan Police Service
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="4">
              4 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED23944</td>
            <td class="govuk-table__cell" data-sort-value="Campbell">
             Samuel Campbell</td>
             <td class="govuk-table__cell">Greater Manchester Police
             </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="4">
              4 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED32843</td>
            <td class="govuk-table__cell" data-sort-value="Dyson">
             Sharon Dyson</td>
             <td class="govuk-table__cell">West Midlands Police
             </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="3">
              3 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED19438</a></td>
            <td class="govuk-table__cell" data-sort-value="Fairweather">
              Scott Fairweather</td>
            <td class="govuk-table__cell">West Midlands Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="3">
              3 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED17626</td>
            <td class="govuk-table__cell" data-sort-value="Odoh">
              Abraham Odoh</td>
            <td class="govuk-table__cell">Lancashire Constabulary
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="3">
              3 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED10329</td>
            <td class="govuk-table__cell" data-sort-value="O'Boyle">
              Lewis O'Boyle</td>
            <td class="govuk-table__cell">Northamptonshire Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="3">
              3 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED14392</td>
            <td class="govuk-table__cell" data-sort-value="Muldoon">
              Matilda Muldoon</td>
            <td class="govuk-table__cell">Metropolitan Police Service
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="2">
              2 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED45883</td>
            <td class="govuk-table__cell" data-sort-value="Bloxham">
              James Bloxham</td>
            <td class="govuk-table__cell">Surrey Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="2">
              2 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED26437</td>
            <td class="govuk-table__cell" data-sort-value="Ilesanmi">
              Derrick Ilesanmi</td>
            <td class="govuk-table__cell">Bedfordshire Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="2">
              2 months</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED28458</td>
            <td class="govuk-table__cell" data-sort-value="Sims">
              Anthony Sims</td>
            <td class="govuk-table__cell">West Yorkshire Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="1">
              Less than a month</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED19834</td>
            <td class="govuk-table__cell" data-sort-value="Oxley">
             Gareth Oxley</td>
            <td class="govuk-table__cell">Northamptonshire Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="1">
              Less than a month</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED10448</td>
            <td class="govuk-table__cell" data-sort-value="Hartigan">
             Dale Hartigan</td>
           <td class="govuk-table__cell">West Mercia Police
           </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="1">
              Less than a month</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED35843</td>
            <td class="govuk-table__cell" data-sort-value="Gorman">
             Zak Gorman</td>
            <td class="govuk-table__cell">Northamptonshire Police
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell" data-sort-value="1">
              Less than a month</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED22643</td>
            <td class="govuk-table__cell" data-sort-value="Hooper">
              Reece Hooper</td>
            <td class="govuk-table__cell">Hertfordshire Constabulary
            </td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              Less than a month</td>
            <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
              ED10922</td>
            <td class="govuk-table__cell" data-sort-value="Cropper">
             Gatlin Cropper</td>
             <td class="govuk-table__cell">Leicestershire Police
             </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
