{% extends "layouts/defra-index.html" %}

{% set pageName="Home" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="./search-question-2" method="post">

        <legend class="govuk-fieldset__legend govuk-visually-hidden">
          {{ pageName }}
        </legend>

        <div class="govuk-form-group govuk-!-margin-bottom-2">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="search">
              Search
            </label>
          </h1>

          <input class="govuk-input" id="search" name="search" type="text">
        </div>

        <div class="govuk-form-group govuk-!-margin-bottom-2">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-visually-hidden">
              Show more search results
            </legend>

            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="broaden-search" name="broadenSearch" type="checkbox" value="close">
                <label class="govuk-label govuk-checkboxes__label" for="broaden-search">
                  Include close matches
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="broaden-search-2" name="broadenSearch" type="checkbox" value="national">
                <label class="govuk-label govuk-checkboxes__label" for="broaden-search-2">
                  Include national records
                </label>
              </div>
            </div>
          </fieldset>
        </div>

      {{ govukButton({
        text: "Search"
      }) }}

      <p class="govuk-body">Find registered dangerous dogs, or dog owners, by searching with one or more of these terms:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>owner’s name</li>
          <li>owner’s address, or part of it</li>
          <li>owner’s email address</li>
          <li>dog’s microchip number</li>
          <li>dog’s index number</li>
          <li>dog’s name</li>
        </ul>

      <h2 class="govuk-heading-m">Report something to Defra
        </h2>

      <p class="govuk-body">Use the search to find the dog or owner you need to report something about.
        </p>

      </form>

    </div>
  </div>

{% endblock %}
