{% extends "layouts/defra.html" %}

{% set pageName="Dog ED17343" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

<div class="govuk-main-wrapper">

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <script>

    window.onload = function() {
    function updateStatus(x, y, z){
      if(localStorage.getItem(z) !== null) {
        document.getElementById(y).innerHTML = "Completed";
        document.getElementById(y).className = "govuk-task-list__status";
      }
    }

    // Function calls
    updateStatus('task1Finished', 'task-1-status', 'task1Started')
    updateStatus('task2Finished', 'task-2-status', 'task2Started')
    updateStatus('task3Finished', 'task-3-status', 'task3Started')
    updateStatus('task4Finished', 'task-4-status', 'task4Started')
    updateStatus('task5Finished', 'task-5-status', 'task5Started')
    updateStatus('task6Finished', 'task-6-status', 'task6Started')
  }
  </script>

{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/status-update.js"></script>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <div class="moj-page-header-actions govuk-!-margin-bottom-2">

        <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-xl">{{ pageName }}</h1>
        </div>

      <div class="moj-page-header-actions__actions">

        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">

            <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
              Dog record
            </button>

            <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
              Owner record
            </button>

          </div>
        </div>

      </div>

    </div>
    {{govukTag({
      text: "Pre-exempt"
    })}}

    <form class="form" action="/v7/cdo/manage/cdo-completed" method="post">

      <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">
        Manage CDO application
      </h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="application-pack" aria-describedby="task-1-status" onclick="updateLocalStorage('task1Started')">Send application pack</a>
        </div>
        <div class="govuk-task-list__status" id="task-1-status">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="insurance-details" aria-describedby="cdo-tasks-2-status" onclick="updateLocalStorage('task2Started')">Record insurance details</a>
        </div>
        <div class="govuk-task-list__status" id="task-2-status">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="form-2" aria-describedby="cdo-tasks-3-status" onclick="updateLocalStorage('task3Started')">Send Form 2</a>
        </div>
        <div class="govuk-task-list__status" id="task-3-status">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="microchip-neutering" aria-describedby="cdo-tasks-4-status" onclick="updateLocalStorage('task4Started')">Verify microchip and confirm neutering</a>
        </div>
        <div class="govuk-task-list__status" id="task-4-status">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link govuk-link--no-visited-state" href="record-payment" aria-describedby="cdo-tasks-5-status" onclick="updateLocalStorage('task5Started')">Record payment</a>
        </div>
        <div class="govuk-task-list__status" id="task-5-status">
          <strong class="govuk-tag govuk-tag--blue">
            Incomplete
          </strong>
        </div>
        </li>

        <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <div>Issue certificate</div>
        </div>
        <div class="govuk-task-list__status govuk-task-list__status--cannot-start-yet" id="cdo-tasks-3-1-status">
          Cannot start yet
        </div>
        </li>

      </ul>

      <button class="govuk-button" data-module="govuk-button">
        Complete tasks
      </button>

      </form>

      </div>
    </div>
  </div>

{% endblock %}
