{% extends "layouts/defra.html" %}

{% block pageTitle %}
  Record created – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        classes: "govuk-!-margin-bottom-7",
        titleText: "Record created",
        text: "Dog ED30874"
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/v4/dog-records/dog-record-ED30874">Add more CDO details</a> to the record or <a class="govuk-link govuk-link--no-visited-state" href="#">start CDO tasks</a>.
      </p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Dog 1
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Breed type"
            },
            value: {
              text: data['breedType1'] or "XL Bully"
            }
          },
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['dogName1'] or "Bruce"
            }
          },
          {
            key: {
              text: "CDO issued"
            },
            value: {
              text: data['cdo-issued'] or "20 January 2024"
            }
          },
          {
            key: {
              text: "CDO expiry"
            },
            value: {
              text: data['cdo-expiry'] or "20 March 2024"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Owner details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Leah Johnstone"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "2 December 1986"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "12 Primrose Road<br>Southampton<br>SO16 3GP"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Police and court details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Police force"
            },
            value: {
              text: data['police-force'] or "Hampshire Constabulary"
            }
          },
          {
            key: {
              text: "Dog legislation officer"
            },
            value: {
              text: data['dog-legislation-officer'] or "Nigel Hillier"
            }
          },
          {
            key: {
              text: "Court"
            },
            value: {
              text: data['court'] or "Southampton (West Hampshire) Magistrates’ Court"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
