{% extends "layouts/defra-admin.html" %}

{% set pageName="Delete the owner record" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v9/dog-records/delete-owner-record-question" method="post">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

        <p class="govuk-body">
          Deleting dog record ED200011 means the owner record Mark Turner will not have a dog linked to it.
        </p>

          {{ govukRadios({
            name: "ownerRecordDelete",
            fieldset: {
              legend: {
                text: "Delete the owner record for Mark Turner?",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
