{% extends "layouts/defra.html" %}

{% set pageName="Dog ED31073" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <div class="moj-page-header-actions govuk-!-margin-bottom-2">

      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl">{{ pageName }}</h1>
      </div>

  <div class="moj-page-header-actions__actions">
    <div class="moj-button-menu">
      <div class="moj-button-menu__wrapper">
        <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
          Report something
        </button>
      </div>
    </div>
  </div>

</div>
{{govukTag({
  text: "Interim exempt",
  classes: "govuk-tag--green govuk-!-margin-bottom-6"
})}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Dog details",
      classes: "defra-summary-header"
        }
      },
      rows: [
        {
          classes: "govuk-!-width-one-third",
          key: {
            text: "Name"
          },
          value: {
            text: "Pablo"
          }
        },
        {
          key: {
            text: "Breed type"
          },
          value: {
            text: data['dog-breed'] or "XL Bully"
          }
        },
        {
          key: {
            text: "Colour"
          },
          value: {
            text: "Dark grey"
          }
        },
        {
          key: {
            text: "Sex"
          },
          value: {
            text: "Male"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "29 August 2015"
          }
        },
        {
          key: {
            text: "Microchip number"
          },
          value: {
            text: "928022000338445"
          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Owner details",
      classes: "defra-summary-header"
      },
      id: "owner-details",
      actions: {
        items: [
          {
            href: "owner-record-battersea",
            text: "Owner record",
            classes: "defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state"
            }
          ]
        }
      },
      rows: [
        {
          classes: "govuk-!-width-one-third",
          key: {
            text: "Organisation"
          },
          value: {
            text: "Battersea Dogs Home"
          }
        },
        {
          classes: "govuk-!-width-one-third",
          key: {
            text: "Name"
          },
          value: {
            text: "Marcia Paralluelo"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "14 June 1970"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "4 Battersea Park Road<br>London<br>SW8 4AA"
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: "marcia@battersea.org.uk"
          }
        },
        {
          key: {
            text: "Telephone number 1"
          },
          value: {
            text: "0300 323 1216"
          }
        },
        {
          key: {
            text: "Country"
          },
          value: {
            text: data['country'] or "England"
          }
        }
      ]
    }) }}

    </div>

    <div class="govuk-grid-column-one-half">

      {{ govukSummaryList({
        classes: "govuk-!-font-size-16",
        card: {
          title: {
            text: "Exemption details",
            classes: "defra-summary-header"
          }
        },
        rows: [
          {
            key: {
              text: "Status"
            },
            value: {
              text: "Interim exempt"
           }
          },
          {
            key: {
              text: "CDO issued"
            },
            value: {
              text: "23 February 2024"
            }
          },
          {
            key: {
              text: "CDO expiry"
            },
            value: {
              text: "23 April 2024"
            }
          },
          {
            key: {
              text: "Court"
            },
            value: {
              text: "Lavender Hill Magistrates’ Court"
            }
          },
          {
            key: {
              text: "Police force"
            },
            value: {
              text: "Metroplitan Police"
            }
          },
          {
            key: {
              text: "Dog legislation officer"
            },
            value: {
              text: "Elaine Muscatt"
            }
          },
          {
            key: {
              text: "Insurance company"
            },
            value: {
              text: "Dogs Trust"
            }
          },
          {
            key: {
              text: "Insurance renewal date"
            },
            value: {
              text: "2 March 2025"
            }
          }
        ]
      }) }}

      </div>
    </div>
  </div>
</div>
{% endblock %}
