{% extends "layouts/defra.html" %}

{% set pageName="Select the dog" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "select-owner"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="application-type" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            Select the dog for {{ data['firstName'] }} {{ data['lastName'] }}
          </legend>

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="existingOwner" name="existingOwner" type="radio" value="address1">
                  <label class="govuk-label govuk-radios__label" for="existingOwner">
                    Rosie
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                    Breed: XL Bully
                    <br>
                    Microchip number: 901229512395772
                    <br>
                    Index number: ED10433
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="existingOwner-2" name="existingOwner" type="radio" value="address2">
                  <label class="govuk-label govuk-radios__label" for="existingOwner-2">
                    Jim
                  </label>
                  <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint govuk-!-font-size-16">
                    Breed: XL Bully
                    <br>
                    Microchip number: 221087472833641
                    <br>
                    Index number: ED30227
                  </div>
                </div>

                <div class="govuk-radios__divider">or</div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="existingOwner-6" name="existingOwner" type="radio" value="no-address">
                  <label class="govuk-label govuk-radios__label" for="existingOwner-6">
                The dog is not listed
              </label>
            </div>
          </div>

        </fieldset>

        {{ govukButton({
          text: "Continue"
        }) }}

        <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        How would you prefer to be contacted?
      </h1>
    </legend>
    <div id="contact-hint" class="govuk-hint">
      Select one option.
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Email
        </label>
      </div>
      <div class="govuk-radios__conditional" id="conditional-contact">
        <div>
          <label class="govuk-label" for="contact-by-email">
            Email address
            <br>
            Email address

          </label>
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          Phone
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Phone number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
        </div>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
        <label class="govuk-label govuk-radios__label" for="contact-3">
          Text message
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-text">
            Mobile phone number
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
        </div>
      </div>
    </div>
  </fieldset>
</div>

      </form>

    </div>
  </div>

{% endblock %}
