{% extends "layouts/defra.html" %}

{% set pageName="Edit dog details" %}

{% block pageTitle %}
  {{ pageName }} – Dog ED30227 - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/v2/dog-records/dog-record-ED30227"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v2/dog-records/dog-record-ED30227-updated" method="post">

        <span class="govuk-caption-l">Dog ED30227</span>
        {% call govukFieldset({
          legend: {
            text: "Edit dog details",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

          {{ govukInput({
            label: {
              classes: "govuk-!-font-weight-bold govuk-!-font-size-16",
              text: "Dog name"
            },
            classes: "govuk-!-width-one-half govuk-!-font-size-16",
            name: "dogName1",
            value: data['dogName1'] or "Brutus"
          }) }}

          {{ govukSelect({
            classes: "govuk-!-width-one-third govuk-!-font-size-16",
            name: "dog-breed",
            label: {
              classes: "govuk-!-font-weight-bold govuk-!-font-size-16",
              text: "Dog breed"
            },
            items: [
              {
                value: "XL Bully",
                text: "XL Bully",
                selected: true
              },
              {
                value: "Pit Bull Terrier",
                text: "Pit Bull Terrier"
              },
              {
                value: "Japanese Tosa",
                text: "Japanese Tosa"
              },
              {
                value: "Dogo Argentino",
                text: "Dogo Argentino"
              },
              {
                value: "Fila Brasileiro",
                text: "Fila Brasileiro"
              }
            ]
          }) }}

          {{ govukInput({
            label: {
              classes: "govuk-!-font-weight-bold govuk-!-font-size-16",
              text: "Colour"
            },
            classes: "govuk-!-width-one-half govuk-!-font-size-16",
            name: "dogColour",
            value: data['dogColour'] or "Dark grey"
          }) }}

          {{ govukSelect({
            classes: "govuk-!-font-size-16",
            name: "sex",
            label: {
              classes: "govuk-!-font-weight-bold govuk-!-font-size-16",
              text: "Sex"
            },
            items: [
              {
                value: "Male",
                text: "Male",
                selected: true
              },
              {
                value: "Female",
                text: "Female"
              }
            ]
          }) }}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold govuk-!-font-size-16">
              Date of birth
            </legend>

            <div class="govuk-date-input" id="cdo-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="cdo-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-!-font-size-16" value="20" id="cdo-issued-day" name="cdo-issued-day" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="cdo-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-!-font-size-16" value="7" id="cdo-issued-month" name="cdo-issued-month" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="cdo-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-!-font-size-16" value="2007" id="cdo-issued-year" name="cdo-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group">
              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold govuk-!-font-size-16">
                Date of death
              </legend>

            <div class="govuk-date-input" id="cdo-expiry">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="cdo-expiry-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-!-font-size-16 govuk-input--width-2" value="12" id="cdo-expiry-day" name="cdo-expiry-day" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="cdo-expiry-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-!-font-size-16 govuk-input--width-2" value="8" id="cdo-expiry-month" name="cdo-expiry-month" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label-l govuk-!-font-size-16" for="cdo-expiry-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-!-font-size-16 govuk-input--width-4" value="2020" id="cdo-expiry-year" name="cdo-expiry-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
            </fieldset>
          </div>

          {{ govukInput({
            label: {
              classes: "govuk-!-font-weight-bold govuk-!-font-size-16",
              text: "Tattoo"
            },
            classes: "govuk-!-width-one-half govuk-!-font-size-16",
            name: "dogColour",
            value: data['tattoo'] or "ED302277"
          }) }}

          {{ govukInput({
            label: {
              classes: "govuk-!-font-weight-bold govuk-!-font-size-16",
              text: "Microchip number"
            },
            classes: "govuk-!-width-one-half govuk-!-font-size-16",
            id: "microchip-1",
            name: "microChip1",
            value: data['microChip1'] or "221087472833641"
          }) }}

          {{ govukInput({
            label: {
              classes: "govuk-!-font-weight-bold govuk-!-font-size-16",
              text: "Microchip number 2"
            },
            classes: "govuk-!-width-one-half govuk-!-font-size-16",
            id: "microchip-2",
            name: "microChip2",
            value: data['microChip2'] or "334670000033267"
          }) }}

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group">
              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold govuk-!-font-size-16">
                Date exported
              </legend>

            <div class="govuk-date-input" id="date-exported">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="date-exported-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-!-font-size-16 govuk-input--width-2" value="28" id="date-exported-day" name="cdo-expiry-day" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="date-exported-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-!-font-size-16 govuk-input--width-2" value="6" id="date-exported-month" name="cdo-expiry-month" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="date-exported-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-!-font-size-16 govuk-input--width-4" value="2019" id="date-exported-year" name="cdo-expiry-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
            </fieldset>
          </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold govuk-!-font-size-16">
              Date stolen
            </legend>

          <div class="govuk-date-input" id="date-exported">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="date-exported-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-!-font-size-16 govuk-input--width-2" value="4" id="date-exported-day" name="cdo-expiry-day" type="text" inputmode="numeric">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="date-exported-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-!-font-size-16 govuk-input--width-2" value="1" id="date-exported-month" name="cdo-expiry-month" type="text" inputmode="numeric">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label govuk-!-font-size-16" for="date-exported-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-!-font-size-16 govuk-input--width-4" value="2016" id="date-exported-year" name="cdo-expiry-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </div>

          {% endcall %}

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Change details"
            }) }}

            <a class="govuk-link govuk-link--no-visited-state" href="confirm-dog-details">Cancel</a>
          </div>

      </form>

    </div>
  </div>

{% endblock %}
