{% extends "layouts/defra.html" %}

{% block pageTitle %}
  Record created – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        classes: "govuk-!-margin-bottom-7",
        titleText: "Record created"
      }) }}

      <h2 class="govuk-heading-m">
        Dog ED30874
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Breed type"
            },
            value: {
              text: data['breedType1'] or "XL Bully"
            }
          },
          {
            key: {
              text: "Dog name"
            },
            value: {
              text: data['dogName1'] or "Bruce"
            }
          },
          {
            key: {
              text: "CDO issue date"
            },
            value: {
              text: data['cdo-issued'] or "29 November 2023"
            }
          },
          {
            key: {
              text: "CDO expiry date"
            },
            value: {
              text: data['cdo-expiry'] or "29 January 2024"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Owner and enforcement details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Leah Johnstone"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "2 December 1986"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "12 Primrose Road<br>Southampton<br>SO16 3GP"
            }
          },
          {
            key: {
              text: "Court"
            },
            value: {
              text: data['court'] or "Southampton (West Hampshire) Magistrates’ Court"
            }
          },
          {
            key: {
              text: "Police force"
            },
            value: {
              text: data['police-force'] or "Hampshire Constabulary"
            }
          },
          {
            key: {
              text: "Dog legislation officer"
            },
            value: {
              text: data['dog-legislation-officer'] or "Nigel Hillier"
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: "England"
            }
          }
        ]
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="../index">Dangerous Dogs Index home</a>
      </p>

    </div>
  </div>
{% endblock %}
