{% extends "layouts/defra-admin.html" %}

{% set pageName="Manage files for application pack emails and letters" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../index"
    },
    {
      text: "Admin",
      href: "index"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "../includes/new-file.html" %}

  </div>

<div class="govuk-grid-column-full govuk-!-margin-top-3">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Emailed application pack</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header defra-width-12">Status</th>
          <th scope="col" class="govuk-table__header">File name</th>
          <th scope="col" class="govuk-table__header defra-summary-width-40">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header defra-align-table">
            {{govukTag({
              text: "Live",
              classes: "govuk-tag--green"
            })}}
          </th>
          <td class="govuk-table__cell defra-align-table">Email application pack 2025.pdf</td>
          <td class="govuk-table__cell">
            {{ govukButton({
              text: "Test the file",
              href: "test-file-email",
              classes: "govuk-button--secondary govuk-!-margin-bottom-0"
            }) }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header defra-align-table">
            {{govukTag({
              text: "Uploaded",
              classes: "govuk-tag--grey"
            })}}
          </th>
          <td class="govuk-table__cell defra-align-table">Email application pack 2026.pdf</td>
          <td class="govuk-table__cell">
            {{ govukButton({
              text: "Test the file",
              href: "test-file-email",
              classes: "govuk-button--secondary govuk-!-margin-right-1 govuk-!-margin-bottom-0"
            }) }}

            {{ govukButton({
              text: "Make live",
              href: "application-pack-files-live",
              classes: "govuk-button--secondary govuk-!-margin-right-1 govuk-!-margin-bottom-0"
            }) }}

            {{ govukButton({
              text: "Delete",
              href: "application-pack-files-2025",
              classes: "govuk-button--secondary govuk-!-margin-bottom-0"
            }) }}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Postal application pack</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header defra-width-12">Status</th>
          <th scope="col" class="govuk-table__header">File name</th>
          <th scope="col" class="govuk-table__header defra-summary-width-40">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header defra-align-table">
            {{govukTag({
              text: "Live",
              classes: "govuk-tag--green"
            })}}
          </th>
          <td class="govuk-table__cell defra-align-table">Post application pack 2025.pdf</td>
          <td class="govuk-table__cell">
            {{ govukButton({
              text: "Test the file",
              href: "test-file-post",
              classes: "govuk-button--secondary govuk-!-margin-bottom-0"
            }) }}
          </td>
        </tr>
      </tbody>
    </table>

    {{ govukButton({
      text: "Upload a new file",
      href: "upload-file"
    }) }}

    </div>
  </div>

{% endblock %}
