{% extends "layouts/defra-admin.html" %}

{% set pageName="Manage application pack templates" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../index"
    },
    {
      text: "Admin",
      href: "index"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
      {{ pageName }}
    </h1>

    <h2 class="govuk-heading-m">
      Test and upload Notify templates
    </h2>

    <p class="govuk-body">
      To test a template, select ‘Test the template’.
     </p>

     <p class="govuk-body">
       To use a new template:
      </p>

     <ol class="govuk-list govuk-list--number">
       <li>Name the new template differently from the current live template.</li>
       <li>Upload the new template.</li>
       <li>Test the new template.</li>
       <li>Make the new template live.</li>
       <li>Delete the old template.</li>
      </ol>

    <p class="govuk-body">
      Only 1 email template and 1 post template can be live at a time.
      </p>

  </div>

<div class="govuk-grid-column-full govuk-!-margin-top-3">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Email template</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header defra-width-12">Status</th>
          <th scope="col" class="govuk-table__header">Template name</th>
          <th scope="col" class="govuk-table__header defra-summary-width-40">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header defra-align-table">
            {{govukTag({
              text: "Live",
              classes: "govuk-tag--green"
            })}}
          </th>
          <td class="govuk-table__cell defra-align-table">Email application pack 2026.pdf</td>
          <td class="govuk-table__cell">
            {{ govukButton({
              text: "Test the template",
              href: "test-template",
              classes: "govuk-button--secondary govuk-!-margin-right-1 govuk-!-margin-bottom-0"
            }) }}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Post template</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header defra-width-12">Status</th>
          <th scope="col" class="govuk-table__header">Template name</th>
          <th scope="col" class="govuk-table__header defra-summary-width-40">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header defra-align-table">
            {{govukTag({
              text: "Live",
              classes: "govuk-tag--green"
            })}}
          </th>
          <td class="govuk-table__cell defra-align-table">Post application pack 2025.pdf</td>
          <td class="govuk-table__cell">
            {{ govukButton({
              text: "Test the template",
              href: "",
              classes: "govuk-button--secondary govuk-!-margin-bottom-0"
            }) }}
          </td>
        </tr>
      </tbody>
    </table>

    {{ govukButton({
      text: "Upload a new template",
      href: "upload-file"
    }) }}

    </div>
  </div>

{% endblock %}
