{% extends "layouts/defra-admin.html" %}

{% set pageName="Upload a new file" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../index"
    },
    {
      text: "Admin",
      href: "index"
    },
    {
      text: "Manage files for application pack emails and letters",
      href: "application-pack-files"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">{{ pageName }}
      </h1>

    {{ govukRadios({
      name: "whichTemplate",
      fieldset: {
        legend: {
          text: "How are you sending the application pack?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "email",
          text: "Email"
        },
        {
          value: "post",
          text: "Post"
        }
      ]
    }) }}


      <p class="govuk-body govuk-!-margin-bottom-2">Ensure that:</p>

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>the filename has a ‘.pdf’ extension</li>
          <li>the file size does not exceed 10MB</li>
        </ul>

      {{ govukFileUpload({
        id: "file-upload-1",
        name: "fileUpload1",
        label: {
          text: "Upload a file",
          classes: "govuk-visually-hidden"
        }
      }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Upload file",
        href: "application-pack-files"
      }) }}

      <a class="govuk-link govuk-link--no-visited-state" href="javascript:window.history.back()">Cancel</a>
    </div>

    </div>
  </div>

{% endblock %}
