{% extends "layouts/defra-active-dogs.html" %}

{% set pageName="Dog ED17343" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

<div class="govuk-main-wrapper">

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0",
    href: "manage-cdos"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <div class="moj-page-header-actions govuk-!-margin-bottom-2">

      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-l">{{ pageName }}</h1>
      </div>

  <div class="moj-page-header-actions__actions">

    <div class="moj-button-menu">
      <div class="moj-button-menu__wrapper">

        <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
          Dog record
        </button>

        <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
          Owner record
        </button>

      </div>
    </div>

  </div>

</div>
{{govukTag({
  text: "Pre-exempt",
  classes: "govuk-!-font-size-16"
})}}

<form class="form" action="/v6/cdo/manage/cdo-completed" method="post">


      <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">
        CDO tasks
      </h2>

      {{ govukTaskList({
        idPrefix: "company-details",
        items: [
          {
            title: {
              classes: "govuk-link--no-visited-state",
              text: "Send application pack"
            },
            href: "#",
            status: {
              text: "Completed"
            }
          },
          {
            title: {
              classes: "govuk-link--no-visited-state",
              text: "Record insurance details"
            },
            href: "#",
            status: {
              text: "Completed"
            }
          },
          {
            title: {
              classes: "govuk-link--no-visited-state",
              text: "Send Form 2"
            },
            href: "#",
            status: {
              text: "Completed"
            }
          },
          {
            title: {
              classes: "govuk-link--no-visited-state",
              text: "Verify microchip and confirm neutering"
            },
            href: "#",
            status: {
              text: "Completed"
            }
          },
          {
            title: {
              classes: "govuk-link--no-visited-state",
              text: "Record payment"
            },
            href: "#",
            status: {
                text: "Completed"
            }
          },
          {
            title: {
              classes: "govuk-link--no-visited-state",
              text: "Issue certificate"
            },
            href: "#",
            status: {
                text: "Completed"
            }
          }
        ]
      }) }}

      <button class="govuk-button" data-module="govuk-button">
        Complete tasks
      </button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
