{% extends "layouts/defra-active-dogs.html" %}

{% set pageName="When was the certificate issued?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0",
  href: "cdo-tasks-task-5"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v6/cdo/manage/cdo-tasks-completed" method="post">

        <span class="govuk-caption-m">Dog ED17343</span>

        {{ govukDateInput({
          id: "record-payment-date",
          namePrefix: "record-payment-date",
          fieldset: {
            legend: {
              text: "When was the certificate issued?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        }) }}

      <button class="govuk-button" data-module="govuk-button">
        Submit date
      </button>

      </form>

    </div>
  </div>

{% endblock %}
