{% extends "layouts/defra.html" %}

{% set pageName="Change owner details" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "index"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <form class="form" action="/dog-record" method="post">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-visually-hidden">
          Owner details
        </legend>

        <div class="govuk-form-group govuk-!-margin-bottom-5">
          <label class="govuk-label" for="first-name">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" value="Leah" id="first-name" name="firstName" type="text">
        </div>

        <div class="govuk-form-group govuk-!-margin-bottom-5">
          <label class="govuk-label" for="last-name">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" value="Johnstone" id="last-name" name="lastName" type="text">
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend">
              Date of birth
            </legend>

            <div class="govuk-date-input" id="date-of-birth">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                    Day
                  </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" value="24" id="date-of-birth-day" name="dateBirthday" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                    Month
                  </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" value="10" id="date-of-birth-month" name="dateBirthmonth" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                    Year
                  </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" value="1986" id="date-of-birth-year" name="dateBirthyear" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {% call govukFieldset({
          legend: {
            text: "Address",
            classes: "govuk-visually-hidden"
          }
        }) %}

          {{ govukInput({
            label: {
              text: "Address line 1"
            },
            id: "address-line-1",
            name: "addressLine1",
            value: "12 Primrose Road"
          }) }}

          {{ govukInput({
            label: {
              text: "Address line 2"
            },
            id: "address-line-2",
            name: "addressLine2"
          }) }}

          {{ govukInput({
            label: {
              text: "Town or city"
            },
            classes: "govuk-!-width-two-thirds",
            id: "address-town",
            name: "addressTown",
            value: "Southampton"
          }) }}

          {{ govukInput({
            label: {
              text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "address-postcode",
            name: "addressPostcode",
            value: "SO16 3GP"
          }) }}

        {% endcall %}

        <p class="govuk-body govuk-!-margin-bottom-6">
          <a class="govuk-link govuk-link--no-visited-state" href="">Change address using a postcode</a>
        </p>

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "email",
          value: "leah86@yahoo.co.uk",
          type: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Telephone number 1"
          },
          id: "telephone-number-1",
          name: "telephoneNumber1",
          value: "023 8055 8402",
          type: "tel",
          classes: "govuk-input--width-10"
        }) }}

        {{ govukInput({
          label: {
            text: "Telephone number 2"
          },
          id: "telephone-number-2",
          name: "telephoneNumber2",
          value: "07844 639956",
          type: "tel",
          classes: "govuk-input--width-10"
        }) }}

        {{ govukSelect({
          id: "county",
          name: "county",
          label: {
            text: "County"
          },
          items: [
            {
              value: "Bedfordshire",
              text: "Bedfordshire"
            },
            {
              value: "Berkshire",
              text: "Berkshire"
            },
            {
              value: "Cambridgeshire",
              text: "Cambridgeshire"
            },
            {
              value: "Cheshire",
              text: "Cheshire"
            },
            {
              value: "Cornwall",
              text: "Cornwall"
            },
            {
              value: "Cumberland",
              text: "Cumberland"
            },
            {
              value: "Derbyshire",
              text: "Derbyshire"
            },
            {
              value: "Devon",
              text: "Devon"
            },
            {
              value: "Dorset",
              text: "Dorset"
            },
            {
              value: "Durham",
              text: "Durham"
            },
            {
              value: "East Suffolk",
              text: "East Suffolk"
            },
            {
              value: "Essex",
              text: "Essex"
            },
            {
              value: "Gloucestershire",
              text: "Gloucestershire"
            },
            {
              value: "Greater Manchester",
              text: "Greater Manchester"
            },
            {
              value: "Hampshire",
              text: "Hampshire",
              selected: true
            },
            {
              value: "Hertfordshire",
              text: "Hertfordshire"
            },
            {
              value: "Kent",
              text: "Kent"
            },
            {
              value: "Lancashire",
              text: "Lancashire"
            },
            {
              value: "Leicestershire",
              text: "Leicestershire"
            },
            {
              value: "Middlesex",
              text: "Middlesex"
            },
            {
              value: "Nottinghamshire",
              text: "Nottinghamshire"
            },
            {
              value: "Oxfordshire",
              text: "Oxfordshire"
            },
            {
              value: "Shropshire",
              text: "Shropshire"
            },
            {
              value: "South Yorkshire",
              text: "South Yorkshire"
            },
            {
              value: "West Yorkshire",
              text: "West Yorkshire"
            }
          ]
        }) }}

        {{ govukSelect({
          id: "country",
          name: "country",
          label: {
            text: "Country"
          },
          items: [
            {
              value: "England",
              text: "England",
              selected: true
            },
            {
              value: "Wales",
              text: "Wales"
            },
            {
              value: "Scotland",
              text: "Scotland"
            }
          ]
        }) }}

      </fieldset>

        {{ govukButton({
          text: "Save details"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
