{% extends "layouts/defra.html" %}

{% set pageName="Dog ED10874" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        {{ pageName }}
      </h1>

      {{ govukTag({
        classes: "govuk-!-margin-bottom-6",
        text: "Exempt"
      }) }}

    </div>

    <div class="govuk-grid-column-one-half">

    {{ govukSummaryList({
      card: {
        title: {
          text: "Exemption details"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change details",
              visuallyHiddenText: "for exemption"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Certificate issued"
          },
          value: {
            text: "30 July 2019"
          }
        },
        {
          key: {
            text: "CDO issue date"
          },
          value: {
            text: "2 February 2019"
          }
        },
        {
          key: {
            text: "Insurance company"
          },
          value: {
            html: "	Dogs Trust"
          }
        },
        {
          key: {
            text: "Insurance renewal"
          },
          value: {
            text: "23 June 2024"
          }
        },
        {
          key: {
            text: "Insurance policy"
          },
          value: {
            html: "38345128"
          }
        },
        {
          key: {
            text: "Neutered and microchipped"
          },
          value: {
            html: "Yes"
          }
        }
      ]
    }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Dog details</h2>

      {{ govukSummaryList({
        card: {
        title: {
        text: "Exemption details"
          }
        },
        classes: "govuk-!-margin-bottom-4",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Simba"
            }
          },
          {
            key: {
              text: "Breed type"
            },
            value: {
              text: "Pit Bull Terrier"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              html: "12 April 2018"
            }
          },
          {
            key: {
              text: "Microchip number"
            },
            value: {
              text: "977206034033729"
            }
          },
          {
            key: {
              text: "Sex"
            },
            value: {
              html: "Male"
            }
          },
          {
            key: {
              text: "Colour"
            },
            value: {
              html: "Fawn and white"
            }
          },
          {
            key: {
              text: "Tattoo"
            },
            value: {
              html: "ED 14415"
            }
          }
        ]
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="#">Change dog details</a>
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Owner details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-4",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Leah Johnstone"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "24 October 1986"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              text: "12 Primrose Road, Southampton SO15 7NN"
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              text: "leah86@yahoo.co.uk"
            }
          },
          {
            key: {
              text: "Telephone number 1"
            },
            value: {
              text: data['telephoneNumber1'] or "023 8055 8402"
            }
          },
          {
            key: {
              text: "Telephone number 2"
            },
            value: {
              text: data['telephoneNumber2'] or "07844 639956"
            }
          },
          {
            key: {
              text: "County"
            },
            value: {
              text: data['county'] or "Hampshire"
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: data['country'] or "England"
            }
          },
          {
            key: {
              text: "Police force"
            },
            value: {
              text: data['police-force'] or "Hampshire Constabulary"
            }
          },
          {
            key: {
              text: "Comments"
            },
            value: {
              text: "Previous address: 3 Ethelburt Avenue, Southampton SO16 3DD"
            }
          }
        ]
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="change-owner-details">Change owner details</a>
      </p>

    </div>
  </div>
{% endblock %}
