{% extends "layouts/defra.html" %}

{% set pageName="Dog ED14415" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        {{ pageName }}
      </h1>

      {{govukTag({
        text: "Inactive",
        classes: "govuk-tag--grey govuk-!-margin-bottom-6"
      })}}

    </div>

    <div class="govuk-grid-column-one-half">

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
        title: {
          text: "Exemption details",
          classes: "defra-summary-header"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Edit details",
              classes: "defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state",
              visuallyHiddenText: "for exemption"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Certificate issued"
          },
          value: {
            text: "30 July 2019"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "CDO issue date"
          },
          value: {
            text: "2 February 2019"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Insurance company"
          },
          value: {
            html: "	Dogs Trust"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Insurance renewal"
          },
          value: {
            text: "23 June 2024"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Insurance policy"
          },
          value: {
            html: "38345128"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Neutered and microchipped"
          },
          value: {
            html: "Yes"
          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Owner details",
      classes: "defra-summary-header"
      },
      id: "owner-details",
      actions: {
        items: [
          {
            href: "edit-owner-details",
            text: "Edit details",
            classes: "defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state",
            visuallyHiddenText: "for owner"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Name"
          },
          value: {
            text: "Leah Johnstone"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Date of birth"
          },
          value: {
            text: "24 October 1986"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Address"
          },
          value: {
            html: "12 Primrose Road<br>Southampton<br>SO15 7NN"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Email"
          },
          value: {
            text: "leah86@yahoo.co.uk"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Telephone number 1"
          },
          value: {
            text: data['telephoneNumber1'] or "023 8055 8402"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Telephone number 2"
          },
          value: {
            text: data['telephoneNumber2'] or "07844 639956"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "County"
          },
          value: {
            text: data['county'] or "Hampshire"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Country"
          },
          value: {
            text: data['country'] or "England"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Police force"
          },
          value: {
            text: data['police-force'] or "Hampshire Constabulary"
          }
        },
        {
          key: {
            classes: "govuk-!-width-one-third",
            text: "Comments"
          },
          value: {
            text: "Previous address: 3 Ethelburt Avenue, Southampton SO16 3DD"
          }
        }
      ]
    }) }}

    </div>

    <div class="govuk-grid-column-one-half">

      {{ govukSummaryList({
        classes: "govuk-!-font-size-16",
        card: {
        title: {
        text: "Dog details",
        classes: "defra-summary-header"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Edit details",
              classes: "defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state",
              visuallyHiddenText: "for dog"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Name"
            },
            value: {
              text: "Biff"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Breed type"
            },
            value: {
              text: "XL Bully"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Colour"
            },
            value: {
              html: "Fawn and white"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Sex"
            },
            value: {
              html: "Male"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Date of birth"
            },
            value: {
              html: "12 April 2010"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Date of death"
            },
            value: {
              html: "3 September 2022"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Tattoo"
            },
            value: {
              html: "ED14415"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Microchip number"
            },
            value: {
              text: "863206034034482"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Microchip number 2"
            },
            value: {
              text: "334670000033267"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Date exported"
            },
            value: {
              html: "14 May 2020"
            }
          },
          {
            key: {
              classes: "govuk-!-width-one-third",
              text: "Date stolen"
            },
            value: {
              html: "11 October 2019"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
