{% extends "layouts/main.html" %}

{% set serviceName %}
{% endset%}

{% block pageTitle %}
  Enter your password - GOV.UK One Login
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback (opens in a new tab)</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    href: "../create-account/enter-email",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-phone" method="post">

        {{ govukPasswordInput({
          label: {
            text: "Enter your password",
            classes: "govuk-label--l"
          },
          classes: "govuk-!-width-two-thirds",
          id: "password-input",
          name: "password"
        }) }}

            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>

      <p class="govuk-body">
        <a href="/page-index/authentication/sign-in/check-email" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">I’ve forgotten my password</a>
    </p>

      </form>

    </div>
  </div>

{% endblock %}
