{% extends "layouts/defra.html" %}

{% set pageName="Record the verification date for microchip and neutering" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "./microchip-neutering"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v23/manage/manage-cdo-issue" method="post">

      <span class="govuk-caption-m">Dog ED30228</span>

      {{ govukDateInput({
        id: "date-of-birth",
        namePrefix: "date-of-birth",
        fieldset: {
          legend: {
            text: "What is the dog’s date of birth?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        }
      }) }}

      <button class="govuk-button" data-module="govuk-button" onclick="updateLocalStorage('task6Finished')">
        Save and continue
      </button>

      </form>

    </div>
  </div>

{% endblock %}
