{% extends "layouts/defra-applications.html" %}

{% set pageName="Select owner" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  classes: "govuk-!-margin-top-6 govuk-!-margin-bottom-0",
  href: "../../cdo/create"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v6/cdo/create/select-owner-question" method="post">

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset govuk-!-margin-bottom-6">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            Select the address for {{ data['firstName'] }} {{ data['lastName'] }}
          </legend>

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="existingOwner" name="existingOwner" type="radio" value="address1">
                  <label class="govuk-label govuk-radios__label" for="existingOwner">
                    5 Station Road, Woofferton, Ludlow SY8 4NL
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="existingOwner-2" name="existingOwner" type="radio" value="address2">
                  <label class="govuk-label govuk-radios__label" for="existingOwner-2">
                    23 Billson Street, Isle of Dogs, London E14 3DA
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="existingOwner-3" name="existingOwner" type="radio" value="address3">
                  <label class="govuk-label govuk-radios__label" for="existingOwner-3">
                    18 Hillview Road, Lickey End, Bromsgrove B60 1JZ
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="existingOwner-4" name="existingOwner" type="radio" value="address4">
                  <label class="govuk-label govuk-radios__label" for="existingOwner-4">
                    11 Hound Road, Netley, Southampton SO31 5JS
                  </label>
                </div>

                <div class="govuk-radios__divider">or</div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="existingOwner-6" name="existingOwner" type="radio" value="no-address">
                  <label class="govuk-label govuk-radios__label" for="existingOwner-6">
                The owner’s address is not listed
              </label>
            </div>
          </div>

        </fieldset>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
