{% extends "layouts/defra-admin.html" %}

{% set pageName="Are you sure you want to add a police force to the Index" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "add-police"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v10/admin/police-added-question" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="addPolice-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to add {% if data['police'] %}{{ data['police'] }}{% else %}Central Police{% endif %} to the Index?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addPolice" name="addPolice" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="addPolice">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addPolice-2" name="addPolice" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="addPolice-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
