{% extends "layouts/defra-admin.html" %}

{% set pageName="Are you sure you want to remove an item from the actvities we receive?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "remove-send-activity"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v10/admin/confirmation-activity-added" method="post">

        {% if data['addActivity'] == 'send' %}
          <span class="govuk-caption-l">Something we send</span>
        {% elif data['addActivity'] == 'receive' %}
          <span class="govuk-caption-l">Something we receive</span>
        {% endif %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="remove-police-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to add {% if data['activityName'] %}‘{{ data['activityName'] }}’{% else %}‘Central Police’{% endif %} to the list of things we {% if data['addActivity'] == 'send' %}
                send
              {% elif data['addActivity'] == 'receive' %}
                receive
              {% endif %}?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removePolice" name="removePolice" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="remove-police">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removepolice-2" name="removePolice" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="remove-police-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
