{% extends "layouts/defra-admin.html" %}

{% set pageName="Are you sure you want to remove a court from the Index" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "remove-court"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v10/admin/court-removed-question" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="removeCourt-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to remove {% if data['court'] %}{{ data['court'] }}{% else %}Wellingborough Magistrates’ Court{% endif %} from the Index?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removeCourt" name="removeCourt" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="removeCourt">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removeCourt-2" name="removeCourt" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="removeCourt-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
