<h1 class="govuk-heading-l govuk-!-margin-bottom-5">
  Manage files for application pack emails and letters
</h1>

<p class="govuk-body-l">
  Test and replace the files attached to application pack emails and sent in the post.
 </p>

<p class="govuk-body">
  To test a file, select ‘Test the file’.
 </p>

 <p class="govuk-body">
   To use a new file:
  </p>

 <ol class="govuk-list govuk-list--number">
   <li>Name the new file differently from the current live version.</li>
   <li>Upload the file.</li>
   <li>Test it.</li>
   <li>Make it live.</li>
   <li>Delete the old version.</li>
  </ol>

<p class="govuk-body">
  Only 1 file to be emailed and 1 file to be posted can be live at a time.
  </p>
