{% extends "layouts/defra-admin.html" %}

{% set pageName="Are you sure you want to remove an activity from the Index?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "activities-added"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v12/admin/activity-removed-question" method="post">

        <span class="govuk-caption-l">Dog record: something we send</span>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="remove-activity-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to remove ‘{% if data['activityName'] %}{{ data['activityName'] }}{% else %}Police incident report{% endif %}’ from the activity list?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removeActivity" name="removeActivity" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="remove-activity">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removeactivity-2" name="removeActivity" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="remove-activity-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
