{% extends "layouts/defra.html" %}

{% set pageName="Is the correct address listed below?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "../../create"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v23/cdo/create/address-question" method="post">

        <h1 class="govuk-heading-l">There are existing dog owners named {{ data['firstName'] }} {{ data['lastName'] }}
          </h1>

        <p class="govuk-body">Select the address for {{ data['firstName'] }} {{ data['lastName'] }} to add the new CDO or interim exemption to an existing owner record.
          <p>

        <p class="govuk-body">
          If the address is not listed below, create a new owner record.
          <p>


        {{ govukRadios({
          name: "existingOwner",
          fieldset: {
            legend: {
              text: "Select the address",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "address1",
              text: "23 Billson Street, Isle of Dogs, London E14 3DA"
            },
            {
              value: "address2",
              text: "18 Hillview Road, Lickey End, Bromsgrove B60 1JZ"
            },
            {
              divider: "or"
            },
            {
              value: "newAddress",
              text: "Create a new record"
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
