{% extends "layouts/defra.html" %}

{% set pageName="Manage interim exemptions" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "manage-cdos"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    <ul class="govuk-summary-list__actions-list govuk-!-margin-bottom-2">
      <li class="govuk-summary-list__actions-list-item govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="manage-cdos">CDOs</a></li>
      <li class="govuk-summary-list__actions-list-item govuk-body">Interim exemptions</li>
    </ul>

    <table class="govuk-table">

  <caption class="govuk-table__caption govuk-visually-hidden">Currently active CDOs</caption>


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Exemption expiry</th>

      <th scope="col" class="govuk-table__header">Dog number</th>

      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Owner</th>

      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Tasks complete</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            3 April 2024</td>

          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED29458</a></td>

          <td class="govuk-table__cell">
            Levi Cordner</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            5
          </td>

        </tr>

        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            3 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
          ED36294</a></td>

          <td class="govuk-table__cell">
          Adam McLaughlin</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            3
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            4 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10059</td>

          <td class="govuk-table__cell">
            Billy Howe</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            5
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            5 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED23846</td>

          <td class="govuk-table__cell">
            Quevin Castro</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            5
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            5 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10873</td>

          <td class="govuk-table__cell">
            Michelle Duckworth</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            6
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            5 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED20562</td>

          <td class="govuk-table__cell">
            Maziar Kouhyar</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            5
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            6 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED23865</td>

          <td class="govuk-table__cell">
            Alex Woodyard</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            6
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            6 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED19220</td>

          <td class="govuk-table__cell">
            Rachel Watson</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            4
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            7 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10349</td>
          <td class="govuk-table__cell">
           Kai Chadwick</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            4
           </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            8 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED29465</td>

          <td class="govuk-table__cell">
           Leona Batty</td>

         <td class="govuk-table__cell govuk-table__cell--numeric">
           5
         </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            8 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED19744</td>

          <td class="govuk-table__cell">
          Mary Harriott</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            4
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            9 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED28475</td>

          <td class="govuk-table__cell">
            Lendell Sykes-Kenworthy</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            5
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            9 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED23944</td>

          <td class="govuk-table__cell">
           Samuel Campbell</td>

           <td class="govuk-table__cell govuk-table__cell--numeric">
            4
           </td>

        </tr>

        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            10 April 2024</td>

          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED32843</a></td>

          <td class="govuk-table__cell">
            Sharon Dyson</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            3
          </td>

        </tr>

        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            10 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED19438</a></td>

          <td class="govuk-table__cell">
            Scott Fairweather</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            4
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            10 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED17626</td>

          <td class="govuk-table__cell">
            Abraham Odoh</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            2
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            11 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10329</td>

          <td class="govuk-table__cell">
            Lewis O'Boyle</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            3
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            13 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED14392</td>

          <td class="govuk-table__cell">
            Matilda Muldoon</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            2
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            13 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED45883</td>

          <td class="govuk-table__cell">
            James Bloxham</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            2
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            14 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED26437</td>

          <td class="govuk-table__cell">
            Derrick Ilesanmi</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            2
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            15 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED28458</td>

          <td class="govuk-table__cell">
            Anthony Sims</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            1
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            16 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED19834</td>
          <td class="govuk-table__cell">
           Gareth Oxley</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            3
           </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            16 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10448</td>

          <td class="govuk-table__cell">
           Dale Hartigan</td>

         <td class="govuk-table__cell govuk-table__cell--numeric">
           1
         </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            19 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED35843</td>

          <td class="govuk-table__cell">
           Zak Gorman</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            2
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            20 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED22643</td>

          <td class="govuk-table__cell">
            Reece Hooper</td>

          <td class="govuk-table__cell govuk-table__cell--numeric">
            2
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            20 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10922</td>

          <td class="govuk-table__cell">
           Gatlin Cropper</td>

           <td class="govuk-table__cell govuk-table__cell--numeric">
            1
           </td>

        </tr>

      </tbody>
    </table>

    </div>
  </div>

{% endblock %}
