{% extends "layouts/defra-sign-out-2.html" %}

{% set pageName="What is the reason for the breach?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "comment-type"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="confirmation" method="post">

        <span class="govuk-caption-l">Dog ED208510</span>
        {{ govukCheckboxes({
          name: "breachReason",
          fieldset: {
            legend: {
              text: "What is the reason for the breach?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "dog not covered by third party insurance",
              text: "Dog not covered by third party insurance"
            },
            {
              value: "dog not kept on lead or muzzled",
              text: "Dog not kept on lead or muzzled"
            },
            {
              value: "dog walked by someone under 16 years of age",
              text: "Dog walked by someone under 16 years of age"
            },
            {
              value: "dog kept in insecure place",
              text: "Dog kept in insecure place"
            },
            {
              value: "dog away from registered address for over 30 days in one year",
              text: "Dog away from registered address for over 30 days in one year"
            },
            {
              value: "exemption certificate not provided to police",
              text: "Exemption certificate not provided to police"
            },
            {
              value: "insurance evidence not provided to police",
              text: "Insurance evidence not provided to police"
            },
            {
              value: "owner not allowed police to read microchip",
              text: "Owner not allowed police to read microchip"
            },
            {
              value: "change of registered address not provided to Defra",
              text: "Change of registered address not provided to Defra"
            },
            {
              value: "dog’s export not reported to Defra",
              text: "Dog’s export not reported to Defra"
            }
          ]
        }) }}

        <div class="govuk-button-group">
        {{ govukButton({
          text: "Continue"
        }) }}

        <a class="govuk-link govuk-link--no-visited-state" href="dog-record">Cancel</a>
      </div>

      </form>

    </div>
  </div>

{% endblock %}
