{% extends "layouts/defra-sign-out.html" %}

{% block pageTitle %}
  Agree to the Secure Access Licence - {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="check-email" method="post">

      <h1 class="govuk-heading-xl">
        Agree to the Secure Access Licence
      </h1>

      <p class="govuk-body-l">To access the Dangerous Dogs Index, you must read and agree to the terms of the secure access licence listed below.
      </p>

      <h2 class="govuk-heading-l">
        Purpose
      </h2>

      <p class="govuk-body">The Dangerous Dogs Index (DDI) Secure Access Licence (Licence) is a legally binding contract between you, your organisation and the Department for Environment, Food & Rural Affairs (Defra) which is the controller that manages the DDI. It ensures that you and your organisation are both aware of your legal responsibilities surrounding your access to the DDI – this is particularly important for your organisation, because penalties may be levied at an organisational level in the event of a data incident.
      </p>

      <h2 class="govuk-heading-l">
        Introduction
      </h2>

      <p class="govuk-body">
        The Licence is a per person, per organisation Licence. You therefore only need to apply for it once whilst you are at your current organisation – if you were to move organisation and still require access to the DDI, then you would need to apply for a new licence.
      </p>

      <p class="govuk-body">
        DDI Licensed Users must agree to this Licence before being issued credentials to access the DDI. Failure to agree to the terms and conditions of this Licence, means that access to the DDI will be denied.
      </p>

      <h2 class="govuk-heading-l">
        The Parties
      </h2>

      <p class="govuk-body">
        This Licence is between:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>The individual Licensed User of the DDI</li>
        <li>The organisation responsible for the Licensed User</li>
        <li>Defra</li>
      </ul>

      <h2 class="govuk-heading-l">
        Definitions
      </h2>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Controller, Personal Data, Processing</span> take the meaning given in the Data Protection Legislation.
      </p>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Data Protection Legislation</span> means all applicable data protection and privacy legislation in force from time to time in the United Kingdom including without limitation:
      </p>

      <ol class="govuk-list govuk-list--number">
        <li>
          the UK GDPR;
        </li>
        <li>
          the Data Protection Act 2018 (“DPA 2018”) to the extent that it relates to the processing of personal data and privacy;
        </li>
        <li>
          the Privacy and Electronic Communications Regulations 2003 (SI 2003/2426) as amended;
        </li>
        <li>
          applicable guidance and codes of practice issued by the Information Commissioner;
        </li>
        <li>
          any other legislation relating to personal data and all other legislation and regulatory requirements in force which apply to a Party relating to the used of personal data.
        </li>
      </ol>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Law</span> means any law, subordinate legislation within the meaning of Section 21(1) of the Interpretation Act 1978, byelaw, enforceable right within the meaning of Section 2 of the European Communities Act 1972, regulation, order, regulatory policy, mandatory guidance or code of practice, judgment of a relevant court of law, or directives or requirements with which the Parties are is bound to comply.
      </p>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Licensed User</span> means a user who has registered with the DDI and therefore agreed online to the Secure Access Licence.
      </p>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">UK GDPR</span> means Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data as it forms part of the law of England and Wales, Scotland and Northern Ireland by virtue of section 3 of the European Union (Withdrawal) Act of 2018.
      </p>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Working Day</span> means any day other than a Saturday, Sunday or public holiday in England and Wales.
      </p>

      <h2 class="govuk-heading-l">
        Terms and conditions
      </h2>

      <ol class="govuk-list govuk-list--number">
        <li>Access to the Personal Data and other sensitive information is being provided for the prevention and/or detection of crime and the apprehension and/or prosecution of offenders.
        </li>

        <li>Personal Data and other sensitive information must not be used for any other purposes without the prior written consent of Defra.
        </li>

        <li>The lawful basis for processing Personal Data is for the performance of a task carried out in the public interest which is laid down by law in the pieces of legislation listed below. These pieces of legislation set out Defra’s general purposes as the designated agency to discharge these functions. The task is the operation of the Index of Exempted Dogs for England, Wales and Scotland:
        </li>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              The Dangerous Dogs Act 1991; <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/ukpga/1991/65/contents">Dangerous Dogs Act 1991 (legislation.gov.uk)</a>
            </li>
            <li>
              The Dangerous Dogs Exemption Schemes (England and Wales) Order 2015 SI No. 138 (for England and Wales); <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/uksi/2015/138/made">The Dangerous Dogs Exemption Schemes (England and Wales) Order 2015 (legislation.gov.uk)</a>
            </li>
            <li>
              The Dangerous Dogs Compensation and Exemption Schemes Order 1991 SI No. 1744 (for Scotland only); <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/uksi/1991/1744/made">The Dangerous Dogs Compensation and Exemption Schemes Order 1991 (legislation.gov.uk)</a>
            </li>
            <li>
              The Dangerous Dogs (Compensation and Exemption Schemes) (England and Wales) Order 2023; <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/uksi/2023/1204/made">The Dangerous Dogs (Compensation and Exemption Schemes) (England and Wales) Order 2023 (legislation.gov.uk)</a>
            </li>
            <li>
              The Dangerous Dogs (Exemption Schemes and Miscellaneous Provisions) (England and Wales) Order 2023; <a class="govuk-link govuk-link--no-visited-state" href="https://www.legislation.gov.uk/uksi/2023/1407/contents/made">The Dangerous Dogs (Exemption Schemes and Miscellaneous Provisions) (England and Wales) Order 2023 (legislation.gov.uk)</a>
            </li>
          </ul>

        <li>In addition to express powers contained within the legislation listed above, we may also rely on implied powers to process personal data. Defra has been assigned responsibility to maintain an index to record the certificates of exemption and make sure that these are up to date in relation to Dangerous Dogs. Processing (including sharing) of personal data which is reasonably incidental to those functions is carried out in reliance on Defra’s implied powers. Where necessary, such processing may include the proportionate and secure sharing with the law enforcement agencies, responsible for enforcing the relevant legislation, including the carrying out of compliance checks against conditions of a relevant exemption certificate.
        </li>

        <li>Any incidents of unauthorised access to, processing of, or disclosing of, the Personal Data and other sensitive information must be reported within one (1) Working Day from the time of discovery to Defra at email <a class="govuk-link govuk-link--no-visited-state" href="mailto:dogsindex@defra.gov.uk">dogsindex@defra.gov.uk</a>
        </li>

        <li>On termination of the License for whatever reason, all access to the Personal Data and other sensitive information will cease.
        </li>

        <li>The License is subject to review and without limitation whenever a change in the law, other procedures or other relevant circumstances takes place.
        </li>

        <li>Any non-compliance with this Licence will mean access to the DDI will be denied.
        </li>

        <li>Responsibilities of the Licensed User:

          <ul class="govuk-list govuk-list--bullet">
            <li>
              Personal Data is always managed in accordance with the Licensed User’s obligations under the Data Protection Legislation.
            </li>
            <li>
              Personal Data and other sensitive information from the DDI must only be disclosed or compromised to the minimum number people necessary for fulfilling the purpose of obtaining the information.
            </li>
            <li>
              Regularly trained in data protection responsibilities, risks and information security policies.
            </li>
            <li>
              Be aware of proper handling of Personal Data and other sensitive information to protect it against unauthorised or unlawful processing, and against accidental loss, alteration or disclosure.
            </li>
            <li>
              To seek necessary approvals, assistance, or resources from their organisation to comply with the terms and conditions.
            </li>
            <li>
              That the device used for the DDI access is managed and connected to the internet via an appropriately encrypted connection managed by their organisation. The use of personal devices for the DDI access is prohibited.
            </li>
            <li>
              Understands that knowingly or recklessly disregarding the terms of the License this will be an offence under sections 170 and 171 of the DPA 2018 that may incur financial penalties.
            </li>
          </ul>

        </li>

      </ol>

      <h2 class="govuk-heading-l">
        Contact us
      </h2>

      <p class="govuk-body">
        If you have questions about this Licence contact us via email at <a class="govuk-link govuk-link--no-visited-state" href="mailto:dogsindex@defra.gov.uk">dogsindex@defra.gov.uk</a>
      </p>

      <p class="govuk-body">
        If you have questions about how Defra uses personal data you can contact the Defra data protection manager at <a class="govuk-link govuk-link--no-visited-state" href="mailto:data.protection@defra.gov.uk">data.protection@defra.gov.uk</a>
      </p>

      <p class="govuk-body">
        The data protection officer for Defra is responsible for checking that Defra complies with legislation. You can contact them at <a class="govuk-link govuk-link--no-visited-state" href="mailto:DefraGroupDataProtectionOfficer@defra.gov.uk">DefraGroupDataProtectionOfficer@defra.gov.uk</a>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {{ govukCheckboxes({
        name: "agree",
        fieldset: {
          legend: {
            text: "Agree to the terms and conditions",
            isPageHeading: false,
            classes: "govuk-visually-hidden"
          }
        },
        items: [
          {
            value: "agree",
            text: "By ticking this box I confirm I have fully read and understood the terms of The Dangerous Dogs Index (DDI) Secure Access Licence (Licence)"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Agree and continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
