
      <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Accessibility statement
      </h1>

      <p class="govuk-body">
        This accessibility statement applies to the Dangerous Dogs Index.
      </p>

      <p class="govuk-body">
        This website is run by Defra.
      </p>

      <p class="govuk-body">
        We want as many people as possible to be able to use this website.
      </p>

      <p class="govuk-body">
        For example, that means you should be able to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>use browser settings or plugins to change colours, contrast levels and fonts</li>
        <li>use browser settings or other software to zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p class="govuk-body">
        We’ve also made the website text as simple as possible to understand.
     </p>

     <p class="govuk-body">
      <a class="govuk-link" href="">AbilityNet</a> has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-m">
        Reporting accessibility problems with this website
      </h2>

      <p class="govuk-body">
        If you find any problems or you think we’re not meeting the accessibility requirements, <a class="govuk-link govuk-link--no-visited-state" href="feedback">give us your feedback</a>.
      </p>

      <h3 class="govuk-heading-s">
        Enforcement procedure
      </h3>

      <p class="govuk-body">
       The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
      </p>

      <p class="govuk-body">
       If you’re not happy with how we respond to your complaint, <a class="govuk-body" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
      </p>

      <h2 class="govuk-heading-m">
       Technical information about this website’s accessibility
      </h2>

      <p class="govuk-body">
       Defra is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h2 class="govuk-heading-m">
       Compliance status
      </h2>

      <p class="govuk-body">
       This website is fully compliant with the <a class="govuk-link" href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.2</a> AA standard.
      </p>

      <h2 class="govuk-heading-m">
        Preparation of this accessibility statement
      </h2>

      <p class="govuk-body">
       This statement was prepared on 8 October 2024.
      </p>

      <p class="govuk-body">
        This website was last tested in September 2024 against the WCAG 2.2 AA standard.
      </p>

      <p class="govuk-body">
        We used findings from our own testing when preparing this accessibility statement.
      </p>

    </div>
