{{ govukRadios({
  name: "changedName",
  fieldset: {
    legend: {
      text: "Overall, how did you feel about the service you received today?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "very-satisfied",
      text: "Very satisfied"
    },
    {
      value: "satisfied",
      text: "Satisfied"
    },
    {
      value: "neither-satisfied-or-dissatisfied",
      text: "Neither satisfied or dissatisfied"
    },
    {
      value: "dissatisfied",
      text: "Dissatisfied"
    },
    {
      value: "very-dissatisfied",
      text: "Very dissatisfied"
    }
  ]
}) }}

{{ govukRadios({
  name: "changedName",
  fieldset: {
    legend: {
      text: "Did you complete your task today?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukTextarea({
  name: "moreDetail",
  id: "more-detail",
  rows: "8",
  label: {
    text: "Can you provide more detail?",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  hint: {
    text: "Do not include personal information like your name, phone number or email address."
  }
}) }}

<p class="govuk-body">Do not use this form for support requests. If you need support email <a class="govuk-link govuk-link--no-visited-state" href="mailto:dogsindex@defra.gov.uk">dogsindex@defra.gov.uk</a>.
  </p>
