{% extends "layouts/defra.html" %}

{% set pageName="Dog ED30227" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        {{ pageName }}
      </h1>

      {{govukTag({
        text: data['dogStatus'] or "Exempt",
        classes: "govuk-tag--yellow govuk-!-margin-bottom-6"
      })}}

    </div>

    <div class="govuk-grid-column-one-half">

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Dog details",
      classes: "defra-summary-header"
      },
      actions: {
        items: [
          {
            href: "",
            text: "Edit details",
            classes: "defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state",
            visuallyHiddenText: "for dog"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: data['dogName1'] or "Brutus"
          }
        },
        {
          key: {
            text: "Breed type"
          },
          value: {
            text: data['dog-breed'] or "XL Bully"
          }
        },
        {
          key: {
            text: "Colour"
          },
          value: {
            text: data['dogColour'] or "Dark grey"
          }
        },
        {
          key: {
            text: "Sex"
          },
          value: {
            text: data['sex'] or "Male"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            html: "20 July 2007"
          }
        },
        {
          key: {
            text: "Microchip number"
          },
          value: {
            text: "221087472833641"
          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Owner details",
      classes: "defra-summary-header"
      },
      id: "owner-details",
      actions: {
        items: [
          {
            href: "",
            text: "Owner record",
            classes: "defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state",
            visuallyHiddenText: "for owner"
            }
          ]
        }
      },
      rows: [
        {
          key: {
            text: "Name"
          },
          value: {
            text: "Gareth Staines"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "16 February 1983"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "44 Groveway<br>Barking<br>RM8 3XL"
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: "gazandshaz@hotmail.com"
          }
        },
        {
          key: {
            text: "Telephone number 1"
          },
          value: {
            text: data['telephoneNumber1'] or "07879 929344"
          }
        },
        {
          key: {
            text: "Country"
          },
          value: {
            text: data['country'] or "England"
          }
        }
      ]
    }) }}

    </div>

    <div class="govuk-grid-column-one-half">

      {{ govukSummaryList({
        classes: "govuk-!-font-size-16",
        card: {
          title: {
            text: "Exemption details",
            classes: "defra-summary-header"
          },
          actions: {
            items: [
              {
                href: "dog-record-ED30227-2023-edit",
                text: "Edit details",
                classes: "defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state",
                visuallyHiddenText: "for exemption"
              }
            ]
          }
        },
        rows: [
          {
            key: {
              text: "Status"
            },
            value: {
              text: data['dogStatus'] or "Exempt"
            },
            actions: {
            classes: "defra-text-align-left",
             items: [
               {
                 href: "change-status",
                 classes: "govuk-link--no-visited-state",
                 text: "Change status"
               }
             ]
           }
          },
          {
            key: {
              text: "Certificate issued"
            },
            value: {
              text: "9 December 2023"
            },
            actions: {
            classes: "defra-text-align-left",
             items: [
               {
                 href: "certificate",
                 classes: "govuk-link--no-visited-state",
                 text: "Generate certificate"
               }
             ]
           }
          },
          {
            key: {
              text: "Order"
            },
            value: {
              text: "2023"
            },
            actions: {
             classes: "defra-text-align-left",
             items: [
               {
                 href: "change-order",
                 classes: "govuk-link--no-visited-state",
                 text: "Change order"
               }
             ]
           }
          },
          {
            classes: "govuk-!-width-one-third",
            key: {
              text: "Microchip deadline"
            },
            value: {
              text: "31 March 2024"
            }
          },
          {
            key: {
              text: "Neutering deadline"
            },
            value: {
              text: "30 June 2024"
            }
          },
          {
            key: {
              text: "Application fee paid"
            },
            value: {
              text: "30 November 2023"
            }
          },
          {
            key: {
              text: "Insurance company"
            },
            value: {
              text: "Dogs Trust"
            }
          },
          {
            key: {
              text: "Insurance renewal date"
            },
            value: {
              text: "29 November 2024"
            }
          },
          {
            key: {
              text: "Examined by dog legislation officer"
            },
            value: {
              html: "12 March 2024"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
