{% extends "layouts/defra.html" %}

{% set pageName="Dog ED41249" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form class="form" action="/v9/microchip-number/dog-records/comment/comment-type" method="post">

    <div class="moj-page-header-actions govuk-!-margin-bottom-2">

      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl">{{ pageName }}</h1>
      </div>

  <div class="moj-page-header-actions__actions">
    <div class="moj-button-menu">
      <div class="moj-button-menu__wrapper">
        <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
          Add a comment
        </button>
      </div>
    </div>
  </div>

</div>
{{govukTag({
  text: "Pre-exempt",
  classes: "govuk-!-margin-bottom-6"
})}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Dog details",
      classes: "defra-summary-header"
        }
      },
      rows: [
        {
          classes: "govuk-!-width-one-third",
          key: {
            text: "Name"
          },
          value: {
            text: "Tobi"
          }
        },
        {
          key: {
            text: "Breed type"
          },
          value: {
            text: data['dog-breed'] or "XL Bully"
          }
        },
        {
          key: {
            text: "Colour"
          },
          value: {
            text: "Black"
          }
        },
        {
          key: {
            text: "Sex"
          },
          value: {
            text: "Male"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "28 September 2019"
          }
        },
        {
          key: {
            text: "Microchip number"
          },
          value: {
            text: "745000029857738"
          }
        }
      ]
    }) }}

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Owner details",
      classes: "defra-summary-header"
      },
      id: "owner-details",
      actions: {
        items: [
          {
            href: "../owner-records/owner-record-jl",
            text: "Owner record",
            classes: "defra-summary-header govuk-!-font-size-16 govuk-link--no-visited-state",
            visuallyHiddenText: "for owner"
            }
          ]
        }
      },
      rows: [
        {
          classes: "govuk-!-width-one-third",
          key: {
            text: "Name"
          },
          value: {
            text: "Jakub Lato"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "13 May 1982"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "247 Norcroft Road<br>Barking<br>IG11 7JF"
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: "jakubjlato@gmail.com"
          }
        },
        {
          key: {
            text: "Telephone number 1"
          },
          value: {
            text: "07563 756455"
          }
        },
        {
          key: {
            text: "Country"
          },
          value: {
            text: data['country'] or "England"
          }
        }
      ]
    }) }}

    </div>

    <div class="govuk-grid-column-one-half">

      {{ govukSummaryList({
        classes: "govuk-!-font-size-16",
        card: {
          title: {
            text: "Exemption details",
            classes: "defra-summary-header"
          }
        },
        rows: [
          {
            key: {
              text: "Status"
            },
            value: {
              text: "Pre-exempt"
           }
          },
          {
            key: {
              text: "CDO issued"
            },
            value: {
              text: "3 March 2024"
            }
          },
          {
            key: {
              text: "CDO expiry"
            },
            value: {
              text: "3 May 2024"
            }
          },
          {
            key: {
              text: "Court"
            },
            value: {
              text: "Barkingside Magistrates’ Court"
            }
          },
          {
            key: {
              text: "Police force"
            },
            value: {
              text: "Metroplitan Police"
            }
          },
          {
            key: {
              text: "Dog legislation officer"
            },
            value: {
              text: "Gary Proctor"
            }
          }
        ]
      }) }}

      </div>
    </div>
  </div>
</div>
{% endblock %}
