{% extends "layouts/defra.html" %}

{% set pageName="Check activity" %}

{% block pageTitle %}
  {{ pageName }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/v17/owner-records/record-2/owner-record"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <span class="govuk-caption-l">Vicki Sugden</span>
        <h1 class="govuk-heading-l">Check activity</h1>

        {{ govukTable({
          caption: "All activity",
          captionClasses: "govuk-visually-hidden",
          firstCellIsHeader: false,
          head: [
            {
              text: "Date",
              classes: "govuk-!-width-one-quarter"
            },
            {
              text: "Activty",
              classes: "govuk-!-width-one-half"
            }
          ],
          rows: [
            [
              {
                text: "15 February 2024"
              },
              {
                text: "Email address changed"
              }
            ],
            [
              {
                text: "20 January 2023"
              },
              {
                text: "Owner details added"
              }
            ]
          ]
        }) }}

    </div>
  </div>

{% endblock %}
