{% extends "layouts/defra.html" %}

{% set pageName="Michael Denton" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="moj-page-header-actions govuk-!-margin-bottom-6">

        <div class="moj-page-header-actions__title">
          <h1 class="govuk-heading-xl">{{ pageName }}</h1>
        </div>

      <div class="moj-page-header-actions__actions">
        <div class="moj-button-menu">
          <div class="moj-button-menu__wrapper">
            <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
              Report something
            </button>
          </div>
        </div>
      </div>

  </div>

    </div>

    <div class="govuk-grid-column-one-half">

    {{ govukSummaryList({
      classes: "govuk-!-font-size-16",
      card: {
      title: {
      text: "Owner details",
      classes: "defra-summary-header"
        }
      },
      rows: [
        {
          classes: "govuk-!-width-one-third",
          key: {
            text: "Name"
          },
          value: {
            text: "Michael Denton"
          }
        },
        {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "	18 May 1975"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "105 Broomfield Street<br>London<br>E14 6BB"
         }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: "dentzz75@hotmail.com"
          }
        },
        {
          key: {
            text: "Telephone number 1"
          },
          value: {
            text: "07335 645428"
          }
        },
        {
          key: {
            text: "Country"
          },
          value: {
            text: data['country'] or "England"
          }
        }
      ]
    }) }}

    </div>

    <div class="govuk-grid-column-one-half">

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title"><a class="govuk-link govuk-link--no-visited-state" href="../dog-records/dog-record-ED31772">
            ED31772
          </a></h2>
          <ul class="govuk-summary-card__actions govuk-!-font-weight-regular">
            {{ govukTag({
              text: "Interim exempt",
              classes: "govuk-tag--green"
            }) }}
          </ul>
        </div>

        <div class="govuk-summary-card__content govuk-!-padding-top-1 govuk-!-padding-bottom-0">
          <table class="govuk-table govuk-!-margin-bottom-3">
            <caption class="govuk-table__caption govuk-!-font-weight-regular govuk-!-font-size-16">
                </caption>
              <thead class="govuk-table__head govuk-!-font-size-16">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">
                    Dog name
                  </th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-one-quarter">
                    Microchip number
                  </th>
                </tr>
              </thead>

              <tbody class="govuk-table__body">
                  <tr class="govuk-table__row govuk-!-font-size-16 govuk-!-margin-bottom-0">
                    <td class="govuk-!-padding-top-2 govuk-!-padding-bottom-0">
                     	Conan
                    </td>
                    <td class="govuk-table__header--numeric govuk-!-padding-top-2 govuk-!-padding-bottom-0">
                      958000000338549
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>
  </div>
{% endblock %}
