{% extends "layouts/defra.html" %}

{% block pageTitle %}
  Record created – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../index"
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        classes: "govuk-!-margin-bottom-7",
        titleText: "Record created"
      }) }}

      {% if data['organisation_website_url'] %}
        {{ data['organisation_website_url'] }}
      {% elif data['organisation_website_url'] == "" %}
        <p class="govuk-body">None</p>
      {% endif %}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="">Add more CDO details</a> to the record or <a class="govuk-link govuk-link--no-visited-state" href="">start CDO tasks</a>.
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-7">

      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        ED30874
      </h2>
      {{govukTag({
        text: "Pre-exempt",
        classes: "govuk-!-font-size-16 govuk-!-margin-bottom-4"
      })}}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Breed"
            },
            value: {
              text: data['breedType1'] or "XL Bully"
            }
          },
          {
            key: {
              text: "Name"
            },
            value: {
              text: data['dogName1'] or "Bruce"
            }
          },
          {
            key: {
              text: "Microchip number"
            },
            value: {
              text: data['microchipNumber'] or "123456789012345"
            }
          },
          {
            key: {
              text: "CDO issued"
            },
            value: {
              text: data['cdo-issued'] or "20 January 2024"
            }
          },
          {
            key: {
              text: "CDO expiry"
            },
            value: {
              text: data['cdo-expiry'] or "20 March 2024"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Owner details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Leah Johnstone"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "2 December 1986"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "12 Primrose Road<br>Southampton<br>SO16 3GP"
            }
          },
          {
            key: {
              text: "Country"
            },
            value: {
              text: "England"
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Police and court details
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Police force"
            },
            value: {
              text: data['police-force'] or "Hampshire Constabulary"
            }
          },
          {
            key: {
              text: "Dog legislation officer"
            },
            value: {
              text: data['dog-legislation-officer'] or "Nigel Hillier"
            }
          },
          {
            key: {
              text: "Court"
            },
            value: {
              text: "Southampton (West Hampshire) Magistrates’ Court"
            }
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
