{% extends "layouts/defra.html" %}

{% set pageName="Enter address" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "enter-address"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v7/owner-records/confirm-address" method="post">

        <div class="govuk-form-group">
          <label for="sort">
            <h1 class="govuk-heading-l">
            Select country
            </h1>
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="england" selected>England</option>
            <option value="scotland">Scotland</option>
            <option value="wales">Wales</option>
          </select>
        </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      </form>

    </div>
  </div>

{% endblock %}
