{% extends "layouts/defra-sign-out-2.html" %}

{% set pageName="What are you reporting to Defra?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "comment-type"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v22/dog-records/record-1/comment/confirmation" method="post">

        <span class="govuk-caption-l">Dog ED208510</span>
        {{ govukCharacterCount({
          name: "reportSomething",
          id: "report-something",
          maxlength: 1200,
          label: {
            text: "What are you reporting to Defra?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Detailed hints on what to include in the text box."
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
