{% extends "layouts/defra.html" %}

{% set pageName="Home" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="results" method="post">

      <div class="govuk-form-group govuk-!-margin-bottom-3">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="search">
            Search
          </label>
        </h1>
        <div id="search-hint" class="govuk-body govuk-!-margin-bottom-1">
          Use one or more search terms
        </div>
        <input class="govuk-input" id="search" name="search" type="text" aria-describedby="search-hint">
      </div>

      {{ govukButton({
        text: "Search"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
