{% extends "layouts/defra-police-2.html" %}

{% set pageName="Provide more detail" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "comment-type"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v17/dog-records/record-1/comment/confirmation" method="post">

        <span class="govuk-caption-l">Dog ED208510</span>
        {{ govukTextarea({
          name: "addComment",
          id: "addComment",
          label: {
            text: "Provide more detail",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Tell us what information you are reporting about this dog record."
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
