{% extends "layouts/defra-admin.html" %}

{% set pageName="You added to the list of send activities" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../index"
    },
    {
      text: "Admin",
      href: "index"
    },
    {
      text: "Activities",
      href: "activities-added"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title govuk-!-margin-bottom-2">
          You added
          <br>
          {% if data['activityName'] %}{{ data['activityName'] }}{% else %}Police incident report{% endif %}
        </h1>
      </div>

      <p class=govuk-body">
        {% if data['activityName'] %}{{ data['activityName'] }}{% else %}Police incident report{% endif %}
is available in the dog record send activities.
      </p>

      <p class=govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="activities-added">Manage activity lists</a>
      </p>


    </div>
  </div>

{% endblock %}
