{% extends "layouts/defra.html" %}

{% block pageTitle %}
  Check your email - GOV.UK One Login
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "terms",
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="create-password" method="post">

      <h1 class="govuk-heading-l">Check your email</h1>

      <div class="govuk-inset-text">We have sent an email to: <span class="govuk-body govuk-!-font-weight-bold">willie.bark@cumberland.police.uk</span></div>

      <p class="govuk-body">Click on the link to confirm your registration to the Dangerous Dogs Index.</p>

      <p class="govuk-body">Check your spam folder if it does not show in your inbox.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Problems receiving the email?
        </span>
      </summary>
      <div class="govuk-details__text">

        <p class="govuk-body">
          We can
          <a href="" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener">send the email again</a>
        </p>

      </div>
    </details>

      </form>

    </div>
  </div>

{% endblock %}
