{% extends "layouts/email.html" %}

{% block pageTitle %}
  Access the Defra Dangerous Dogs Index online
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="defra-email">

      <h1 class="govuk-heading-m">Access the Defra Dangerous Dogs Index online</h1>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body govuk-!-margin-bottom-1">To: willie.bark@cumberland.police.uk</p>
      <p class="govuk-body">From: Defra Dangerous Dogs Index</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body">You can now access the Defra Dangerous Dogs Index online.</p>

      <p class="govuk-body">You can use this service to check the status of dangerous dogs, check owner records and advise Defra of any changes.</p>

      <p class="govuk-body">Use the link below to register.</p>

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="./sign-up/start">Register to access the Dangerous Dogs Index</a>
      </p>

      </div>
    </div>
  </div>

{% endblock %}
