{% extends "layouts/main.html" %}

{% set serviceName %}
  IDM-IDENTITY
{% endset%}

{% block pageTitle %}
  What’s your telephone number? - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "details-2"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="details-3" method="post">

      <span class="govuk-caption-xl">
          <span class="govuk-visually-hidden">This section is: </span>Register Defra account
      </span>
      <h1 class="govuk-heading-xl">What’s your telephone number?</h1>

  		<p class="govuk-body">We ask for this in case we need to call you directly with any queries about your registration.</p>

      {{ govukInput({
        label: {
          text: "What is your telephone number?",
          classes: "govuk-visually-hidden"
        },
        hint: {
          text: "For example, 01632 960 000 or 07700 900 982."
        },
        classes: "govuk-!-width-two-thirds",
        id: "phone-number",
        name: "phoneNumber"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    	</form>

    </div>
  </div>

{% endblock %}
