{% extends "layouts/main.html" %}

{% set serviceName %}
  Government Gateway
{% endset%}

{% set pageName="Enter code to confirm your email address" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "email-address"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter code to confirm your email address</h1>

      <p class="govuk-body">We have sent a code to <strong>{% if data['emailAddress'] %}{{ data['emailAddress'] }}{% else %}firstname.lastname@police.uk{% endif %}</strong></p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If you use a browser to access your email, you may need to open a new window or tab to see the code.
        </strong>
      </div>

    <form action="email-confirmed" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label">
          Confirmation code
        </label>

        <div id="undefined-hint" class="govuk-hint">
          For example, DNCLRK
        </div>

        <input

         class="govuk-input govuk-!-width-one-half" id="" name="govGateEmailCode" type="text" aria-describedby="undefined-hint">

      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I have not received the email
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>The email may take a few minutes to arrive. Its subject line is: ‘Confirm your email address - Government Gateway’.</p>
          <p>Check your spam or junk folder – if it still has not arrived, you can <a class="govuk-link govuk-link--no-visited-state" href="#">request a new code</a> or <a class="govuk-link govuk-link--no-visited-state" href="#">provide another email address</a>.</p>
        </div>
      </details>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm
      </button>

      </form>
      <p class="govuk-!-margin-top-7"><a href="#" class="govuk-link govuk-link--no-visited-state ">Get help with this page</a></p>

    </div>
  </div>

{% endblock %}
