{% extends "layouts/main.html" %}

{% set serviceName %}
  Government Gateway
{% endset%}

{% set pageName="Create a password" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "name"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="confirmation" method="post">

      <h1 class="govuk-heading-xl">{{ pageName }}</h1>

      <p class="govuk-body">Your password needs to be 10 or more characters. To help you create a long and strong password, the National Cyber Security Centre recommends using three random words.</p>

      <p class="govuk-body">You can use a mix of letters, numbers or symbols in these three words.</p>

        {{ govukPasswordInput({
          label: {
            text: "Password",
            classes: "govuk-label--s govuk-!-font-weight-regular"
          },
          classes: "govuk-!-width-two-thirds",
          id: "password-input",
          name: "password"
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "Confirm your password",
            classes: "govuk-label--s govuk-!-font-weight-regular"
          },
          classes: "govuk-!-width-two-thirds",
          id: "password-input",
          name: "password"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <p class="govuk-!-margin-top-7">
          <a href="#" class="govuk-link govuk-link--no-visited-state ">Get help with this page</a>
        </p>

      </form>

    </div>
  </div>

{% endblock %}
