{% extends "layouts/main.html" %}

{% set serviceName %}
  Government Gateway
{% endset%}

{% set pageName="Email address confirmed" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "verify"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="email-confirmed" method="post">

        <p class="govuk-body">We have sent a code to: <strong>{% if data['emailAddress'] %}{{ data['emailAddress'] }}{% else %}firstname.lastname@police.uk{% endif %}</strong></p>

      <h1 class="govuk-heading-xl">Email address confirmed
        </h1>

      <p class="govuk-body">This will enable us to help you get the most from this service.
        </p>

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

      <p class="govuk-!-margin-top-7">
        <a href="#" class="govuk-link govuk-link--no-visited-state ">Get help with this page</a>
      </p>

    </div>
  </div>

{% endblock %}
