{% extends "layouts/main.html" %}

{% set serviceName %}
  IDM-IDENTITY
{% endset%}

{% block pageTitle %}
  What we need from you - {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="details" method="post">

        <span class="govuk-caption-xl">Register Defra account</span>
        <h1 class="govuk-heading-xl">What we need from you</h1>

        <p class="govuk-body">You must tell us your:
          </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>full name</li>
            <li>telephone number</li>
            <li>email address</li>
        </ul>

        <p class="govuk-body">
          If you are registering as a business you may also need to tell us your:
          </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>company registration number</li>
            <li>registered business address</li>
            <li>business contact details</li>
        </ul>


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}

    </div>
  </div>

{% endblock %}
