{% extends "layouts/defra-sign-out-2.html" %}

{% set pageName="Check history" %}

{% block pageTitle %}
  {{ pageName }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/v22/owner-records/record-3/owner-record"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <span class="govuk-caption-l">Nathan Stockton</span>
        <h1 class="govuk-heading-l">Check owner history</h1>

        {{ govukTable({
          caption: "All activity",
          captionClasses: "govuk-visually-hidden",
          firstCellIsHeader: false,
          head: [
            {
              text: "Date"
            },
            {
              text: "Activty"
            }
          ],
          rows: [
            [
              {
                text: "14 December 2024"
              },
              {
                text: "Address line 1 updated from 42 Abingdon Square"
              }
            ],
            [
              {
                text: "14 December 2024"
              },
              {
                text: "Postcode updated from NG8 7LX"
              }
            ],
            [
              {
                text: "3 December 2024"
              },
              {
                text: "Change of address form sent"
              }
            ],
            [
              {
                text: "30 November 2023"
              },
              {
                text: "Owner details added"
              }
            ]
          ]
        }) }}

    </div>
  </div>

{% endblock %}
