{% extends "layouts/main.html" %}

{% set serviceName %}
{% endset%}

{% block pageTitle %}
  You’ve created your GOV.UK One Login - GOV.UK One Login
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback (opens in a new tab)</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../agree-licence" method="post">

      <h1 class="govuk-heading-l">
        You’ve created your GOV.UK One Login
      </h1>

      <p>Now continue to use the service.</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
