{% extends "layouts/main.html" %}

{% set pageName="Enter the verification code" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v17/index" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
          {{ pageName }}
        </h1>

        <p class="govuk-body">
          We have sent a 6-digit verification code to <span class="govuk-!-font-weight-bold">************police.uk</span>
          </p>

        <p class="govuk-body">
          It may take a few minutes to arrive and will expire in 10 minutes.
          </p>

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              If the verification code has not arrived
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Please make sure that your device:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>is turned on, not in flight mode and has a strong signal</li>
                <li>can receive text messages from other senders</li>
            </ul>
            <p>If you have still not received the text message you can <a class="govuk-link govuk-link--no-visited-state" href="">resend the verification code</a>.</p>
          </div>
        </details>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-visually-hidden" for="one-half">
            One-half width
          </label>
          <input class="govuk-input govuk-input--width-10" id="one-half" name="oneHalf" type="text">
        </div>


          {{ govukButton({
            text: "Continue"
          }) }}

      </form>

      <details class="govuk-details" data-module="govuk-details">
           <summary class="govuk-details__summary">
               <span class="govuk-details__summary-text">Need more help?</span>
           </summary>
           <div class="govuk-details__text">
               <p class="govuk-body">Contact the Dogs Index by phone or email.</p>
               <p class="govuk-body">Telephone:<br>
               0300 322 9434</p>
               <p class="govuk-body">Email:<br>
               <a href="" class="govuk-link govuk-link--no-visited-state">dogsindex@defra.gov.uk</a></p>
               <p class="govuk-body">Service opening times:<br>
               9am to 5pm, Monday to Friday except public holidays</p>
               <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target=”_blank”>Find out about call charges (opens in new tab)</p>
           </div>
       </details>

    </div>
  </div>

{% endblock %}
