{% extends "layouts/defra.html" %}

{% set pageName="Enter your password" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v17/password-field" method="post">

      {{ govukInput({
        label: {
          text: "Enter your password",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "password",
        type: "password",
        classes: "govuk-!-width-two-thirds",
        name: "password"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="">I’ve forgotten my password</a>
        </p>



      </form>

    </div>
  </div>

{% endblock %}
