{% extends "layouts/defra.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Defra {{ serviceName }}
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>access the Dangerous Dogs Index</li>
        <li>create, view or update records in the index</li>
      </ul>

      {{ govukWarningText({
        text: "You can only use this service if you have a police email address.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        text: "Start now",
        href: "create-account",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p>You can access this service if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you are a dog liaison officer working for a UK police force</li>
        <li>you have a police.uk email address</li>
      </ul>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        Privacy notice
      </h2>

      <p>
        <a class="govuk-link govuk-link--no-visited-state" href="">
        Read our Privacy notice
        </a>
      </p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
        Terms and conditions
      </h2>

      <p>
        <a class="govuk-link govuk-link--no-visited-state" href="">
        Read our Terms and conditions
        </a>
      </p>

    </div>
  </div>

{% endblock %}
