{% extends "layouts/defra-applications.html" %}

{% set pageName="What is the owner’s postcode?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "../create"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v4/cdo/create/postcode-question" method="post">

      {% call govukFieldset({
        legend: {
          text: "What is the owner’s postcode?",
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <div class="govuk-form-group govuk-!-margin-bottom-5">
        <label class="govuk-label" for="address-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-10 govuk-!-padding-bottom-0" id="address-postcode" name="addressPostcode" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="property-number">
          Property name or number (optional)
        </label>
        <div id="event-name-hint" class="govuk-hint">
          For example, ‘The Mill’, ‘116’ or ‘Flat 36a’
        </div>
        <input class="govuk-input govuk-input--width-5" id="property-number" name="propertyNumber" type="text">
      </div>

      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="enter-address">Enter address manually</a>
        </p>

    </div>
  </div>

{% endblock %}
