{% extends "layouts/defra.html" %}

{% set pageName="Change dog details" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "confirm-details"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v2/cdo/create/confirm-dog-details" method="post">

        <h1 class="govuk-heading-l">
          Change dog details
          </h1>

          {{ govukRadios({
            name: "breedType1",
            fieldset: {
              legend: {
                text: "Breed type"
              }
            },
            value: "XL Bully",
            items: [
              {
                value: "XL Bully",
                text: "XL Bully"
              },
              {
                value: "Pit Bull Terrier",
                text: "Pit Bull Terrier"
              },
              {
                value: "Japanese Tosa",
                text: "Japanese Tosa"
              },
              {
                value: "Dogo Argentino",
                text: "Dogo Argentino"
              },
              {
                value: "Fila Brasileiro",
                text: "Fila Brasileiro"
              }
            ]
          }) }}

          {{ govukInput({
            label: {
              text: "Dog name (optional)"
            },
            classes: "govuk-!-width-one-half",
            id: "dog-name-1",
            name: "dogName1",
            value: data['dogName1'] or "Bruce"
          }) }}

          <!--
          {{ govukInput({
            label: {
              text: "Microchip number (optional)"
            },
            classes: "govuk-!-width-one-half",
            id: "microchip-1",
            name: "microChip1",
            value: data['microChip1'] or "8348FH2977"
          }) }}
          -->

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
              CDO issue date
            </legend>

            <div class="govuk-date-input" id="cdo-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="cdo-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" value="29" id="cdo-issued-day" name="cdo-issued-day" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="cdo-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" value="11" id="cdo-issued-month" name="cdo-issued-month" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="cdo-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" value="2023" id="cdo-issued-year" name="cdo-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group">
              <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
                CDO expiry date
              </legend>

            <div class="govuk-date-input" id="cdo-expiry">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="cdo-expiry-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" value="29" id="cdo-expiry-day" name="cdo-expiry-day" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="cdo-expiry-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" value="1" id="cdo-expiry-month" name="cdo-expiry-month" type="text" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="cdo-expiry-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" value="2024" id="cdo-expiry-year" name="cdo-expiry-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
            </fieldset>
          </div>

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Change details"
            }) }}

            <a class="govuk-link govuk-link--no-visited-state" href="confirm-dog-details">Cancel</a>
          </div>

      </form>

    </div>
  </div>

{% endblock %}
