{% extends "layouts/defra.html" %}

{% set pageName="Send application pack" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v14/manage/manage-cdo-2" method="post">

        <span class="govuk-caption-m">Dog ED30228</span>

        {{ govukCheckboxes({
          name: "application-pack",
          fieldset: {
            legend: {
              text: "Send application pack",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-5"
            }
          },
          hint: {
            text: "Send the dog owner the application pack and record here you’ve sent it."
          },
          items: [
            {
              value: "form",
              text: "Application pack sent"
            }
          ]
        }) }}

      <button class="govuk-button" data-module="govuk-button" onclick="updateLocalStorage('task1Finished')">
        Save and continue
      </button>

      </form>

    </div>
  </div>

{% endblock %}
