{% extends "layouts/main.html" %}

{% set serviceName %}
{% endset%}

{% block pageTitle %}
  Create your password - GOV.UK One Login
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback (opens in a new tab)</a> will help us to improve it.'
  }) }}
  <!--
  <nav class="language-select" aria-label="Choose Language" role="navigation">
    <ul class="govuk-list language-select__list govuk-body-s govuk-!-margin-0" role="list">

        <li class="language-select__list-item" role="listitem">

            <span aria-current="language">English</span>

        </li>

        <li class="language-select__list-item" role="listitem">

            <a
                    class="govuk-link govuk-link--no-visited-state"
                    href="/ipv/page/page-ipv-identity-document-start?lng=cy"
                    data-journey-click="link - click:lang-select:cy"
                    rel="alternate"
                    hreflang="cy"
                    role="link"
                    onclick="alert('This prototype cannot currently show the Welsh translation'); return false;"
            >Cymraeg
                <div class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</div>
            </a>

        </li>

    </ul>
</nav>
-->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="security-codes" method="post">

      <h1 class="govuk-heading-l">Create your password</h1>

        <input type="hidden" name="_csrf" value="R5llNOhf-XOT-AHiIgPkphEHnEIHIHcEh0Wo">
            <div class="govuk-show-password" data-module="show-password" data-disable-form-submit-check="false" data-show-text="Show" data-hide-text="Hide" data-show-full-text="Show password" data-hide-full-text="Hide password" data-announce-show="Your password is shown" data-announce-hide="Your password is hidden">

        {{ govukPasswordInput({
          label: {
            text: "Enter a password",
            classes: "govuk-label--s govuk-!-font-weight-regular"
          },
          hint: {
            text: "It must be at least 8 characters and must include letters and numbers. Do not use a very common password, such as ‘password’ or a sequence of numbers."
          },
          classes: "govuk-!-width-two-thirds",
          id: "password-input",
          name: "password"
        }) }}

        {{ govukPasswordInput({
          label: {
            text: "Re-type password",
            classes: "govuk-label--s govuk-!-font-weight-regular"
          },
          classes: "govuk-!-width-two-thirds",
          id: "password-input",
          name: "password"
        }) }}

            <div class="govuk-form-group">
              <label class="govuk-label" for="confirm-password">
                Re-type password
              </label>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  How to create a secure password
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p>
                <p class="govuk-body">You should use a password that you do not use for anything else.</p>
              </div>
            </details>

        <h2 class="govuk-heading-s">Agree to the GOV.UK One Login terms of use</h2>

        <p class="govuk-body">By continuing, you confirm that you agree to our:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" >privacy notice (opens in a new tab)</a>, which explains how we use your personal information</li>
            <li><a href="#" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" >terms and conditions (opens in a new tab)</a></li>
          </ul>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

      </form>

    </div>
  </div>

{% endblock %}
