{% extends "layouts/defra-admin.html" %}

{% set pageName="Add or remove police forces from the Index" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "./index"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v9/admin/are-you-sure-police" method="post">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
        {{ pageName }}
      </h1>

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="add-police">Add a police force to the Index</a>
      </p>

      {{ govukCheckboxes({
        name: "police",
        fieldset: {
          classes: "govuk-!-margin-top-7",
          legend: {
            text: "England and Wales police forces",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Selected police forces display in the Index. If you need to remove a police force from the Index, uncheck it and select ‘Update police forces’."
        },
        items: [
          {
            value: "Avon and Somerset Constabulary",
            text: "Avon and Somerset Constabulary",
            checked: true
          },
          {
            value: "Bedfordshire Police",
            text: "Bedfordshire Police",
            checked: true
          },
          {
            value: "Cambridgeshire Constabulary",
            text: "Cambridgeshire Constabulary",
            checked: true
          },
          {
            value: "Cheshire Constabulary",
            text: "Cheshire Constabulary",
            checked: true
          },
          {
            value: "City of London Police",
            text: "City of London Police",
            checked: true
          },
          {
            value: "Cleveland Police",
            text: "Cleveland Police",
            checked: true
          },
          {
            value: "Cumbria Constabulary",
            text: "Cumbria Constabulary",
            checked: true
          },
          {
            value: "Derbyshire Constabulary",
            text: "Derbyshire Constabulary",
            checked: true
          },
          {
            value: "Devon & Cornwall Police",
            text: "Devon & Cornwall Police",
            checked: true
          },
          {
            value: "Dorset Police",
            text: "Dorset Police",
            checked: true
          },
          {
            value: "Durham Constabulary",
            text: "Durham Constabulary",
            checked: true
          },
          {
            value: "Dyfed-Powys Police",
            text: "Dyfed-Powys Police",
            checked: true
          },
          {
            value: "Essex Police",
            text: "Essex Police",
            checked: true
          },
          {
            value: "Gloucestershire Constabulary",
            text: "Gloucestershire Constabulary",
            checked: true
          },
          {
            value: "Greater Manchester Police",
            text: "Greater Manchester Police",
            checked: true
          },
          {
            value: "Gwent Police",
            text: "Gwent Police",
            checked: true
          },
          {
            value: "Hampshire Constabulary",
            text: "Hampshire Constabulary",
            checked: true
          },
          {
            value: "Hertfordshire Constabulary",
            text: "Hertfordshire Constabulary",
            checked: true
          },
          {
            value: "Humberside Police",
            text: "Humberside Police",
            checked: true
          },
          {
            value: "Kent Police",
            text: "Kent Police",
            checked: true
          },
          {
            value: "Lancashire Constabulary",
            text: "Lancashire Constabulary",
            checked: true
          },
          {
            value: "Leicestershire Police",
            text: "Leicestershire Police",
            checked: true
          },
          {
            value: "Lincolnshire Police",
            text: "Lincolnshire Police",
            checked: true
          },
          {
            value: "Merseyside Police",
            text: "Merseyside Police",
            checked: true
          },
          {
            value: "Metropolitan Police Service",
            text: "Metropolitan Police Service",
            checked: true
          },
          {
            value: "Norfolk Constabulary",
            text: "Norfolk Constabulary",
            checked: true
          },
          {
            value: "North Yorkshire Police",
            text: "North Yorkshire Police",
            checked: true
          },
          {
            value: "Northamptonshire Police",
            text: "Northamptonshire Police",
            checked: true
          },
          {
            value: "Northumbria Police",
            text: "Northumbria Police",
            checked: true
          },
          {
            value: "Nottinghamshire Police",
            text: "Nottinghamshire Police",
            checked: true
          },
          {
            value: "North Wales Police",
            text: "North Wales Police",
            checked: true
          },
          {
            value: "South Yorkshire Police",
            text: "South Yorkshire Police",
            checked: true
          },
          {
            value: "Staffordshire Police",
            text: "Staffordshire Police",
            checked: true
          },
          {
            value: "South Wales Police",
            text: "South Wales Police",
            checked: true
          },
          {
            value: "Suffolk Constabulary",
            text: "Suffolk Constabulary",
            checked: true
          },
          {
            value: "Surrey Police",
            text: "Surrey Police",
            checked: true
          },
          {
            value: "Sussex Police",
            text: "Sussex Police",
            checked: true
          },
          {
            value: "Thames Valley Police",
            text: "Thames Valley Police",
            checked: true
          },
          {
            value: "Warwickshire Police",
            text: "Warwickshire Police",
            checked: true
          },
          {
            value: "West Mercia Police",
            text: "West Mercia Police",
            checked: true
          },
          {
            value: "West Midlands Police",
            text: "West Midlands Police",
            checked: true
          },
          {
            value: "West Yorkshire Police",
            text: "West Yorkshire Police",
            checked: true
          },
          {
            value: "Wiltshire Police",
            text: "Wiltshire Police",
            checked: true
          }
        ]
      }) }}

      {{ govukButton({
        text: "Update police forces"
      }) }}

      </form>


    </div>
  </div>

{% endblock %}
