{% extends "layouts/defra.html" %}

{% set pageName="Check activity" %}

{% block pageTitle %}
  {{ pageName }} - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "../owner-record-ED30874"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">Leah Johnstone</span>
        <h1 class="govuk-heading-l">Check activity</h1>

        <p class="govuk-body">
          Future owner activity on the record will display here.
          </p>
        <p class="govuk-body">
          The activities will include:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>changes of address</li>
            <li>changes of email address and telephone numbers</li>
            <li>changes of owner</li>
          </ul>

    </div>
  </div>

{% endblock %}
