{% extends "layouts/defra.html" %}

{% set pageName="Dog ED30228" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

<div class="govuk-main-wrapper">

  {% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <div class="moj-page-header-actions govuk-!-margin-bottom-2">

      <div class="moj-page-header-actions__title">
        <h1 class="govuk-heading-xl">{{ pageName }}</h1>
      </div>

    <div class="moj-page-header-actions__actions">

      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">

          <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" name="nextPage" value="dog-record" data-module="govuk-button">
            Dog record
          </button>

          <button type="submit" class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" name="nextPage" value="owner-record" data-module="govuk-button">
            Owner record
          </button>

        </div>
      </div>
    </div>
  </div>

  {{govukTag({
    text: "Applying for exemption",
    classes: "defra-tag-nowrap govuk-!-margin-bottom-3"
  })}}

  </div>

  <div class="govuk-grid-column-one-third defra-summary-width govuk-!-margin-top-4">
    <dl class="govuk-summary-list govuk-!-font-size-16">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Dog name
        </dt>
        <dd class="govuk-summary-list__value">
          Kilo
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Owner name
        </dt>
        <dd class="govuk-summary-list__value">
          Garry McFadyen
        </dd>
      </div>
    </dl>
  </div>


  <div class="govuk-grid-column-one-third defra-summary-width govuk-!-margin-top-4">
    <dl class="govuk-summary-list govuk-!-font-size-16">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Microchip number
        </dt>
        <dd class="govuk-summary-list__value defra-secondary-text">
          Not received
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          CDO expiry
        </dt>
        <dd class="govuk-summary-list__value">
          20 January 2024
        </dd>
      </div>
    </dl>
  </div>

    <div class="govuk-grid-column-three-quarters govuk-!-margin-top-4">

    <h2 class="govuk-heading-m">
      CDO progress
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Application pack
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          {{ govukTag({
            text: "Not sent",
            classes: "govuk-tag--grey"
          }) }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Application
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          {{ govukTag({
            text: "Not received",
            classes: "govuk-tag--grey"
          }) }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Evidence of insurance
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          {{ govukTag({
            text: "Not received",
            classes: "govuk-tag--grey"
          }) }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Microchip number
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          {{ govukTag({
            text: "Not received",
            classes: "govuk-tag--grey"
          }) }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application fee
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          {{ govukTag({
            text: "Not received",
            classes: "govuk-tag--grey"
          }) }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Form 2
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-bottom-0">
          {{ govukTag({
            text: "Not sent",
            classes: "govuk-tag--grey"
          }) }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-padding-right-9">
          Confirmation dog microchipped and neutered
        </dt>
        <dd class="govuk-summary-list__value">
          {{ govukButton({
            classes: "govuk-!-margin-top-1",
            text: "Confirm",
            href: "microchip-neutering-no-microchip"
          }) }}

        </dd>
      </div>
    </dl>

      </div>
    </div>
  </div>

{% endblock %}
