{% extends "layouts/defra-ddi.html" %}

{% set pageName="The dog is now in breach" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "postcode"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="./owner-record-ED30874-scotland" method="post">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ pageName }}</h1>
      {{govukTag({
        text: "In breach",
        classes: "govuk-tag--red defra-tag-nowrap govuk-!-margin-bottom-6"
      })}}

      <p class="govuk-body">The country for the owner’s address has changed to <span class="govuk-!-font-weight-bold">Scotland</span>.
       </p>

     <p class="govuk-body">This means:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the current exemption is no longer valid</li>
        <li>the police force is now <span class="govuk-!-font-weight-bold">Police Scotland</span></li>
      </ul>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      </form>

    </div>
  </div>

{% endblock %}
