{% extends "layouts/defra-ddi.html" %}

{% set pageName="Update the dog status" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "./country-scotland"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['chooseCountry'] == "wales" %}
      <form class="form" action="./in-breach-routing-1" method="post">
      {% elif data['chooseCountry'] == "scotland" %}
      <form class="form" action="./in-breach-routing-1" method="post">
      {% elif data['chooseCountry'] == "england" %}
      <form class="form" action="./in-breach-routing-1" method="post">
      {% elif data['propertyNumber'] == "66" %}
      <form class="form" action="./in-breach-routing-2" method="post">
      {% elif data['propertyNumber'] == "88" %}
      <form class="form" action="./in-breach-routing-2" method="post">
      {% elif data['propertyNumber'] == "44" %}
      <form class="form" action="./in-breach-routing-2" method="post">
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <p class="govuk-body">As the owner has moved country, the existing exemptions are no longer valid.
       </p>

      <p class="govuk-body">This means a new status now applies for these dogs:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Exempt dogs are now ‘In breach’</li>
        <li>Pre-exempt dogs have now ‘Failed’</li>
        <li>Interim exempt dogs have now ‘Failed’</li>
      </ul>

      <p class="govuk-body">You must now:</p>

       <ol class="govuk-list govuk-list--number">
         <li>Tell the owner any exemptions are no longer valid.</li>
         <li>Update the dog status.</li>
       </ol>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      </form>

    </div>
  </div>

{% endblock %}
