{% extends "layouts/defra-ddi.html" %}

{% set pageName="The owner’s dogs are now in breach" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "./country-scotland"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if data['chooseCountry'] == "wales" %}
      <form class="form" action="./in-breach-routing-1" method="post">
      {% elif data['chooseCountry'] == "scotland" %}
      <form class="form" action="./in-breach-routing-1" method="post">
      {% elif data['chooseCountry'] == "england" %}
      <form class="form" action="./in-breach-routing-1" method="post">
      {% elif data['propertyNumber'] == "66" %}
      <form class="form" action="./in-breach-routing-2" method="post">
      {% elif data['propertyNumber'] == "88" %}
      <form class="form" action="./in-breach-routing-2" method="post">
      {% elif data['propertyNumber'] == "44" %}
      <form class="form" action="./in-breach-routing-2" method="post">
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

     <p class="govuk-body">Tell the owner to apply for new exemptions.
      </p>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

      </form>

    </div>
  </div>

{% endblock %}
