{% extends "layouts/main.html" %}

{% set pageName="Create new record" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "dangerous-dog-index"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      <form class="form" action="/confirm-address" method="post">

      <fieldset class="govuk-fieldset govuk-!-margin-bottom-2">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Name of owner
        </legend>

        {% if 'First name' == data['firstName'] %}
        <div class="govuk-form-group govuk-!-margin-bottom-5">
          <label class="govuk-label" for="first-name">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" value="{{ firstName }}" id="first-name" name="firstName" type="text" autocomplete="first-name">
        </div>
        {% endif %}

        {% if 'First name' == data['firstName'] %}
        <div class="govuk-form-group govuk-!-margin-bottom-5">
          <label class="govuk-label" for="first-name">
            First name
          </label>
          <input class="govuk-input govuk-!-width-one-half" value="{{ firstName }}" id="first-name" name="firstName" type="text" autocomplete="first-name">
        </div>
        {% endif %}

        <div class="govuk-form-group">
          <label class="govuk-label" for="last-name">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-one-half" id="last-name" name="lastName" type="text" autocomplete="last-name">
        </div>
      </fieldset>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Address of owner
        </legend>

        <div class="govuk-form-group govuk-!-margin-bottom-5">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10 govuk-!-padding-bottom-0" id="address-postcode" name="eventName" type="text" autocomplete="postal-code">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="last-name">
            Property name or number (optional)
          </label>
          <div id="event-name-hint" class="govuk-hint">
            For example, ‘The Mill’, ‘116’ or ‘Flat 36a’
          </div>
          <input class="govuk-input govuk-input--width-5" id="address-name" name="addressName" type="text" autocomplete="address-name">
        </div>
      </fieldset>

      <p class="govuk-body govuk-!-margin-bottom-6">
        <a class="govuk-link govuk-link--no-visited-state" href="enter-address">Enter address manually</a>
      </p>

      <button class="govuk-button" data-module="govuk-button">
        Find address
      </button>

      </form>

    </div>
  </div>

{% endblock %}
