{% extends "layouts/main.html" %}

{% set serviceName %}
  Dangerous Dogs Index design history
{% endset%}

{% set pageName="Home" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "./index"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-8">
      DDI design history
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-7">Last updated:
      <span class="govuk-body govuk-!-font-weight-bold">31 January 2025</<span>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Search
      </h2>

      <p class="govuk-body govuk-!-margin-right-6">
        <a class="govuk-link govuk-link--no-visited-state" href="">The DDI search function</a>
        and why it differs for the police
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Search results
      </h2>

      <p class="govuk-body govuk-!-margin-right-6">
        <a class="govuk-link govuk-link--no-visited-state" href="">The search results</a>
        and the reason they changed
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        Records
      </h2>

      <p class="govuk-body govuk-!-margin-right-6">
        <a class="govuk-link govuk-link--no-visited-state" href="">The dog and owner records</a>
        and why they differ for the police

      </p>
    </div>

  </div>

{% endblock %}
