{% extends "layouts/main.html" %}

{% set pageName="Dog ED10874" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
        {{ pageName }}
      </h1>

      {{ govukTag({
        text: "Exempt"
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Exemption details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-4",
        rows: [
          {
            key: {
              text: "Certificate issued"
            },
            value: {
              text: " 30 July 2019"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Certificate issued"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Notified"
            },
            value: {
              text: " 2 February 2019"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Notified date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Insurance company"
            },
            value: {
              text: "Dogs Trust"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Insurance company"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Insurance renewal"
            },
            value: {
              text: "23 June 2024"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Insurance renewal date"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Insurance policy"
            },
            value: {
              text: "38345128"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Insurance policy"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Neutered and microchipped"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Neutered and microchipped"
                }
              ]
            }
          }
        ]
      }) }}

      <p class="govuk-body-s">
        <a class="govuk-link" href="#">Exemption details history</a>
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Dog details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-4",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Simba"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Dog name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Breed type"
            },
            value: {
              text: "Pit Bull Terrier"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Breed type"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "12 April 2018"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Date of birth"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Microchip number"
            },
            value: {
              text: "977206034033729"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Microchip number"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Sex"
            },
            value: {
              text: "Male"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Sex"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Colour"
            },
            value: {
              text: "Fawn and white"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Colour"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Tattoo"
            },
            value: {
              text: "ED 14415"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Tattoo"
                }
              ]
            }
          }
        ]
      }) }}

      <p class="govuk-body-s">
        <a class="govuk-link" href="#">Dog details history</a>
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7">Owner details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-4",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Mrs Leah Johnstone"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Owner name"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Address"
            },
            value: {
              text: "12 Primrose Road, Southampton SO15 7NN"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Address"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Email"
            },
            value: {
              text: "leah86@yahoo.co.uk"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Email"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Telephone number 1"
            },
            value: {
              text: "023 8055 8402"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Telephone number 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Telephone number 2"
            },
            value: {
              text: "07844 639956"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Telephone number 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "County"
            },
            value: {
              text: "Hampshire"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "County"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Country"
            },
            value: {
              text: "England"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "County"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Police force"
            },
            value: {
              text: "Hampshire Constabulary"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Police force"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Comments"
            },
            value: {
              text: "Previous address: 3 Ethelburt Avenue, Southampton SO16 3DD"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Add",
                  visuallyHiddenText: "Comments"
                }
              ]
            }
          }
        ]
      }) }}

      <p class="govuk-body-s">
        <a class="govuk-link" href="#">Owner details history</a>
      </p>

    </div>
  </div>
{% endblock %}
