{% extends "layouts/main.html" %}

{% set serviceName %}
  Dangerous Dogs Index prototype
{% endset%}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }}
    </h1>

    <p class="govuk-body">
      This prototype is being actively worked on and things may change or break.
    </p>

    {{ govukAccordion({
      id: "accordion-default",
      items: [

      {
      heading: {
        text: "Version 23 – DDI enhancements"
      },
      content: {
        html:
        '<h3 class="govuk-heading-s govuk-!-margin-bottom-1">
            Search with close matches
          </h3>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v23/search/search">Search</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v23/search/dog-results">Search results</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v23/search/dog-results-close">Search results with close matches</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v23/search/results-none">No results</a>
            </li>
          </ul>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        Manage police officer
        </h3>
        <ul class="govuk-list">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/admin/index">Admin index</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/admin/add-or-remove-police">Add or remove police officer</a>
          </li>
          <br>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/admin/add-police">Add a police officer</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/admin/add-police-list">You added a police officer</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/admin/confirmation-police-added">Police officers added</a>
          </li>
          <br>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/admin/remove-police">Remove a police officer</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/admin/remove-police-confirm">Remove a police officer – are you sure</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/admin/confirmation-police-removed">User removed</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        Avoid duplicating records
        </h3>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/cdo/create">Create new record</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/cdo/create/multiple/select-owner">Select address</a>
          </li>
        </ul>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        Changing police force when changing an address
        </h3>

        <ul class="govuk-list">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/owner-records/owner-record-ED30874">Owner record</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v23/owner-records/postcode">Enter postcode</a>
          </li>
        </ul>'
        }
      },

      {
        heading: {
          text: "Version 22 – End to end police journey"
        },
        content: {
          html:

        '<h3 class="govuk-heading-m govuk-!-margin-bottom-1">
          Police read only version
          </h3>

          <h4 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-1">
            Register and sign in / sign out journey
            </h4>

          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v22/email-invite">Invite email</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v22/start">Start page</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v22/create-account">Sign up with One Login</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v22/agree-licence">Agree the licence</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v22/check-email">Check email</a>
            </li>
            <br>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/v22/feedback-sign-out">Sign out</a>
            </li>

          <h4 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-1">
            Search the index
            </h4>

          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/index">Homepage</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/search/results-none">No results</a>
          </li>

          <h4 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-1">
            Feedback
            </h4>

          <h5 class="govuk-body govuk-!-margin-bottom-1">
            Feedback from the beta banner
            </h5>

          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/feedback">Feedback</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/feedback-confirmation">Feedback confirmation</a>
          </li>

          <h5 class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-1">
            Feedback on sign out
            </h5>

          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/feedback-sign-out">Feedback and sign out</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/feedback-sign-out-confirmation">Feedback and sign out confirmation</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/signed-out">Signed out</a>
          </li>

          <h4 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-1">
            Content pages
            </h4>

          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/privacy">Privacy notice</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/accessibility">Accessibility</a><span class="govuk-body-s defra-secondary-text"> – Work in progress and will change</span>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/licence">Secure access licence</a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/v22/feedback">Feedback</a>
          </li>
        </ul>'
          }
        }
      ]
    }) }}

    <p class="govuk-body govuk-!-margin-top-8 govuk-!-margin-bottom-2">
      <a class="govuk-link govuk-link--no-visited-state" href="design-history">
      View the Dangerous Dogs Index design history
      </a>
      </p>
      <p class="govuk-body govuk-!-margin-top-0">
      Check previous prototype versions and designs
    </p>

  </div>
</div>

{% endblock %}
