{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ serviceName }} prototype
    </h1>

    <p class="govuk-body">
      This prototype is actively being worked on and things may change or break.
    </p>

    <h2 class="govuk-heading-m">
      Version 1
    </h2>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/index">Dangerous Dog Index homepage</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create">Create new record</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create/confirm-address">Confirm address</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create/select-address">Select address</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create/enter-address">Enter address</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create/police-details">Add police details</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create/confirm-details">Confirm details</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create/police-details-edit">Change police and court details</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create/dog-details">Add dog details</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create/confirm-dog-details">Confirm dog details</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/create/confirmation">Record created</a>
      </li>
      <br>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="cdo/dog-record">Dog record</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
