{% extends "layouts/defra-admin.html" %}

{% set pageName="Check your answers before giving the police officers access" %}

{% block pageTitle %}
 {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "add-poice-3"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        {{ pageName }}
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              html: data['policeEmail'],
              classes: "govuk-!-width-three-quarters govuk-!-font-weight-regular"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "['policeEmail1']"
                }
              ]
            }
          }
          ,
          {
            key: {
              html: data['policeEmail2'],
              classes: "govuk-!-width-three-quarters govuk-!-font-weight-regular"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "['policeEmail2']"
                }
              ]
            }
          }
          ,
          {
            key: {
              html: data['policeEmail3'],
              classes: "govuk-!-width-three-quarters govuk-!-font-weight-regular"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  classes: "govuk-link--no-visited-state",
                  visuallyHiddenText: "['policeEmail3']"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now give access
      </h2>

      <p>
        These police officers will receive an email inviting them to register to access the Dangerous Dogs Index.
      </p>

      <form action="./confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Give access"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
