{% extends "layouts/defra-ddi.html" %}

{% set pageName="You removed a police officer from the Index" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Admin",
      href: "index"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7">
        <h1 class="govuk-panel__title">
          You removed a police officer from the Index
          </h1>
      </div>

      <p class=govuk-body">
        <span class="govuk-!-font-weight-bold">
        {% if data['police-officer'] %}{{ data['police-officer'] }}{% else %}steve.arnott@durham.police.uk{% endif %}
      </span>
       is removed from the Dangerous Dogs Index and no longer has access.
        </p>

      <p class=govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="add-or-remove-police">Add or remove another police officer</a>
        </p>


    </div>
  </div>

{% endblock %}
