{% extends "layouts/defra-ddi.html" %}

{% set pageName="Police officers with access to the Index" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "index"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <form class="form" action="police-force" method="post">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-5">
        {{ pageName }}
      </h1>

      <div class="govuk-!-width-one-half">
        <div class="govuk-form-group govuk-!-margin-bottom-3">
        <label class="govuk-label govuk-body" for="force">
          Officers by police force
        </label>

        <select class="govuk-select" id="force" name="force"
         data-module="autocomplete" data-autoselect="" data-display-menu="" data-min-length="" data-show-all-values="" data-show-no-options-found="">
          <option value="" selected disabled>Select an option</option>
          <option value="All police forces">All police forces</option>
          <option value="Avon and Somerset Constabulary">Avon and Somerset Constabulary</option>
          <option value="Bedfordshire Police">Bedfordshire Police</option>
          <option value="Cambridgeshire Constabulary">Cambridgeshire Constabulary</option>
          <option value="Cheshire Constabulary">Cheshire Constabulary</option>
          <option value="City of London Police">City of London Police</option>
          <option value="Cleveland Police">Cleveland Police</option>
          <option value="Cumbria Constabulary">Cumbria Constabulary</option>
          <option value="Derbyshire Constabulary">Derbyshire Constabulary</option>
          <option value="Devon &amp; Cornwall Police">Devon &amp; Cornwall Police</option>
          <option value="Dorset Police">Dorset Police</option>
          <option value="Dyfed-Powys Police">Dyfed-Powys Police</option>
          <option value="Essex Police">Essex Police</option>
          <option value="Gloucestershire Constabulary">Gloucestershire Constabulary</option>
          <option value="Greater Manchester Police">Greater Manchester Police</option>
          <option value="Gwent Police">Gwent Police</option>
          <option value="Hampshire Constabulary">Hampshire Constabulary</option>
          <option value="Hertfordshire Constabulary">Hertfordshire Constabulary</option>
          <option value="Humberside Police">Humberside Police</option>
          <option value="Kent Police">Kent Police</option>
          <option value="Lancashire Constabulary">Lancashire Constabulary</option>
          <option value="Leicestershire Police">Leicestershire Police</option>
          <option value="Lincolnshire Police">Lincolnshire Police</option>
          <option value="Merseyside Police">Merseyside Police</option>
          <option value="Metropolitan Police Service">Metropolitan Police Service</option>
          <option value="Norfolk Constabulary">Norfolk Constabulary</option>
          <option value="North Wales Police">North Wales Police</option>
          <option value="North Yorkshire Police">North Yorkshire Police</option>
          <option value="Northamptonshire Police">Northamptonshire Police</option>
          <option value="Northumbria Police">Northumbria Police</option>
          <option value="Nottinghamshire Police">Nottinghamshire Police</option>
          <option value="Police Scotland">Police Scotland</option>
          <option value="South Wales Police">South Wales Police</option>
          <option value="South Yorkshire Police">South Yorkshire Police</option>
          <option value="Staffordshire Police">Staffordshire Police</option>
          <option value="Suffolk Constabulary">Suffolk Constabulary</option>
          <option value="Surrey Police">Surrey Police</option>
          <option value="Sussex Police">Sussex Police</option>
          <option value="Thames Valley Police">Thames Valley Police</option>
          <option value="Warwickshire Police">Warwickshire Police</option>
          <option value="West Mercia Police">West Mercia Police</option>
          <option value="West Midlands Police">West Midlands Police</option>
          <option value="West Yorkshire Police">West Yorkshire Police</option>
          <option value="Wiltshire Police">Wiltshire Police</option>
        </select>
      </div>
    </div>

    {{ govukButton({
      text: "Select police force",
      classes: "govuk-!-margin-bottom-8"
    }) }}

    </form>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
      Surrey Police
    </h2>

    <p class="govuk-body">
      4 police officers
    </p>

      {{ govukTable({
        attributes: {
          'data-module': 'moj-sortable-table'
        },
        head: [
          {
            text: "Email address",
            classes: "govuk-!-width-one-half",
            attributes: {
              "aria-sort": "ascending"
            }
          },
          {
            text: "Police force",
            classes: "govuk-!-width-one-third",
            attributes: {
              "aria-sort": "none"
            }
          },
          {
            text: "Index access",
            classes: "defra-nowrap",
            attributes: {
              "aria-sort": "none"
            },
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              text: "peter.falk@surrey.police.uk"
            },
            {
              text: "Surrey Police"
            },
            {
              text: "Yes"
            }
          ],
          [
            {
              text: "john.doman@surrey.police.uk"
            },
            {
              text: "Surrey Police"
            },
            {
              text: "Yes"
            }
          ],
          [
            {
              text: "domenick.lombardozzi@surrey.police.uk"
            },
            {
              text: "Surrey Police"
            },
            {
              text: "Yes"
            }
          ],
          [
            {
              text: "clarke.peters@surrey.police.uk"
            },
            {
              text: "Surrey Police"
            },
            {
              text: "Yes"
            }
          ]
        ]
      }) }}


    </div>
  </div>

{% endblock %}
