{% extends "layouts/defra-admin.html" %}

{% set pageName="Remove a police officer from the Index" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "add-or-remove-police"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v23/admin/remove-police-confirm" method="post">

      {{ xGovukAutocomplete({
        id: "police-office",
        name: "police-officer",
        allowEmpty: false,
        label: {
          classes: "govuk-label--l",
          isPageHeading: true,
          text: "Which police officer do you want to remove?"
        },
        items: [
          { text: "andy.sipowicz@norfolk.police.uk" },
          { text: "andy.stewart@lincolnshire.police.uk" },
          { text: "elliot.stabler@westmidlands.police.uk" },
          { text: "gene.hunt@kent.police.uk" },
          { text: "jessica.fletcher@warwickshire.police.uk" },
          { text: "jim.rockford@sussex.police.uk" },
          { text: "john.corbett@southyorkshire.police.uk" },
          { text: "kate.beckett@cheshire.police.uk" },
          { text: "kate.fleming@norfolk.police.uk" },
          { text: "lindsay.denton@merseyside.police.uk" },
          { text: "lennie.briscoe@leicestershire.police.uk" },
          { text: "martin.beck@dorset.police.uk" },
          { text: "matthew.cottan@cumbria.police.uk" },
          { text: "olivia.benson@humberside.police.uk" },
          { text: "patricia.carmichael@norfolk.police.uk" },
          { text: "ralph.macchio@northumbria.police.uk" },
          { text: "ricardo.tubbs@derbyshire.police.uk" },
          { text: "sherlock.hounds@wiltshire.police.uk" },
          { text: "sonny.valentine@hertfordshire.police.uk" },
          { text: "stella.gibson@greatermanchester.police.uk" },
          { text: "steve.arnott@durham.police.uk" },
          { text: "ted.hastings@suffolk.police.uk" },
          { text: "tony.hill@westyorkshire.police.uk" },
          { text: "trevor.barraclough@surrey.police.uk" },
          { text: "vic.mackey@bedfordshire.police.uk" },
          { text: "wendy.hardaker@hampshire.police.uk" }
        ]
      }) }}

      {{ govukButton({
        text: "Remove police officer"
      }) }}

      </form>


    </div>
  </div>

{% endblock %}
