{% extends "layouts/defra-admin.html" %}

{% set pageName="Are you sure you want to remove a police officer from the Index" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "remove-police"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v23/admin/police-removed-question" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="removePolice-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Are you sure you want to remove {% if data['police-officer'] %}{{ data['police-officer'] }}{% else %}steve.arnott@durham.police.uk{% endif %} from the Index?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removePolice" name="removePolice" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="removePolice">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="removePolice-2" name="removePolice" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="removePolice-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
