{% extends "layouts/defra.html" %}

{% set pageName="Manage CDOs" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "manage-cdos"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

  </div>

  <div class="govuk-grid-column-one-half defra-text-align-right">

    {{ govukButton({
  text: "Interim exemptions",
  classes: "govuk-button--secondary "
}) }}

  </div>

    <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
      Check CDOs
    </h2

    {{ xGovukSecondaryNavigation({
      visuallyHiddenTitle: "Secondary menu",
      items: [{
        text: "Due in next 5 days",
        href: "manage-cdos-next-5",
        current: true
      }, {
        text: "Due in 5-10 days",
        href: "manage-cdos-5-10"
      }, {
        text: "All live CDOs",
        href: "manage-cdos-all"
      }]
    }) }}

    {{ govukTable({
      caption: "Active CDOs ordered by deadline",
      classes: "govuk-!-margin-top-6",
      captionClasses: "govuk-visually-hidden",
      firstCellIsHeader: false,
      head: [
        {
          text: "CDO deadline",
          classes: "govuk-input--width-2"
        },
        {
          text: "Dog number",
          classes: "govuk-input--width-2"
        },
        {
          text: "Owner",
          classes: "govuk-input--width-20"
        },
        {
          text: "Police force",
          classes: "govuk-!-width-one-third"
        },
        {
          text: "Tasks complete (of 7)",
          classes: "defra-input--width-6",
          format: "numeric"
        }
      ],
      rows: [
        [
          {
            text: "17 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="manage-cdo-1">ED17343</a>'
          },
          {
            text: "Dennis Campbell"
          },
          {
            text: "Sussex Police"
          },
          {
            text: "1",
            format: "numeric"
          }
        ],
        [
          {
            text: "17 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="">ED17819</a>'
          },
          {
            text: "Ioana Bortan"
          },
          {
            text: "Thames Valley Police"
          },
          {
            text: "4",
            format: "numeric"
          }
        ],
        [
          {
            text: "17 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="">ED30012</a>'
          },
          {
            text: "Gary Jones"
          },
          {
            text: "Gloucestershire Constabulary"
          },
          {
            text: "6",
            format: "numeric"
          }
        ],
        [
          {
            text: "18 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="">ED15391</a>'
          },
          {
            text: "Wojciech Krychowiak"
          },
          {
            text: "Cumbria Constabulary"
          },
          {
            text: "4",
            format: "numeric"
          }
        ],
        [
          {
            text: "18 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="">ED19858</a>'
          },
          {
            text: "Heidi Sturgeon"
          },
          {
            text: "Metropolitan Police"
          },
          {
            text: "5",
            format: "numeric"
          }
        ],
        [
          {
            text: "19 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="">ED30012</a>'
          },
          {
            text: "Adhavan Razeek"
          },
          {
            text: "Surrey Police"
          },
          {
            text: "4",
            format: "numeric"
          }
        ],
        [
          {
            text: "20 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="">ED17343</a>'
          },
          {
            text: "Tyler McGrath"
          },
          {
            text: "Leicestershire Police"
          },
          {
            text: "5",
            format: "numeric"
          }
        ],
        [
          {
            text: "20 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="">ED17202</a>'
          },
          {
            text: "	Helen Renard"
          },
          {
            text: "Dorset Police"
          },
          {
            text: "6",
            format: "numeric"
          }
        ],
        [
          {
            text: "21 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="">ED39346</a>'
          },
          {
            text: "Raheem Powell"
          },
          {
            text: "Thames Valley Police"
          },
          {
            text: "3",
            format: "numeric"
          }
        ],
        [
          {
            text: "22 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="">ED17882</a>'
          },
          {
            text: "Luke Kettleborough"
          },
          {
            text: "West Yorkshire Police"
          },
          {
            text: "1",
            format: "numeric"
          }
        ]
      ]
    }) }}

    </div>
  </div>

{% endblock %}
