{% extends "layouts/defra.html" %}

{% set pageName="Manage interim exemptions" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../../index"
    },
    {
      text: "Manage CDOs",
      href: "manage-cdos-next-5"
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    </div>
    <!--
    <div class="govuk-grid-column-one-third defra-text-align-right">

      {{ govukButton({
        text: "Manage CDOs",
        href: "manage-cdos-next-5",
        classes: "govuk-button--secondary "
      }) }}

    </div>
    -->

    <div class="govuk-grid-column-three-quarters">

      <!--
    {{ govukTable({
      caption: "Interim exempt dogs ordered by exemption expiry",
      captionClasses: "govuk-visually-hidden",
      firstCellIsHeader: false,
      head: [
        {
          text: "Exemption expiry"
        },
        {
          text: "Dog number"
        },
        {
          text: "Owner",
          classes: "govuk-!-width-one-quarter"
        },
        {
          text: "Amount"
        }
      ],
      rows: [
        [
          {
            text: "4 April 2024"
          },
          {
            html: '<a class="govuk-link govuk-link--no-visited-state" href="manage-cdo-1">ED29458</a>'
          },
          {
            text: "Levi Cordner"
          },
          {
            text: "4 April 2024"
          }
        ],
        [
          {
            text: "Next 33 weeks"
          },
          {
            text: "£109.80 per week"
          }
        ],
        [
          {
            text: "Total estimated pay"
          },
          {
            text: "£4,282.20"
          }
        ]
      ]
    }) }}
    -->

    <table class="govuk-table">

  <caption class="govuk-table__caption govuk-visually-hidden">Currently active CDOs</caption>


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header">Exemption expiry</th>

      <th scope="col" class="govuk-table__header">Dog number</th>

      <th scope="col" class="govuk-table__header">Owner</th>

      <th scope="col" class="govuk-table__header">Police force</th>

    </tr>
  </thead>

  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            17 April 2024</td>

          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED29458</a></td>

          <td class="govuk-table__cell">
            Levi Cordner</td>

          <td class="govuk-table__cell">
            Metropolitan Police Service
          </td>

        </tr>

        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            18 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
          ED36294</a></td>

          <td class="govuk-table__cell">
          Adam McLaughlin</td>

          <td class="govuk-table__cell">
            Kent Police
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            20 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10059</td>

          <td class="govuk-table__cell">
            Billy Howe</td>

          <td class="govuk-table__cell">
            Merseyside Police
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            23 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED23846</td>

          <td class="govuk-table__cell">
            Quevin Castro</td>

          <td class="govuk-table__cell">
            Cleveland Police
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            23 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10873</td>

          <td class="govuk-table__cell">
            Michelle Duckworth</td>

          <td class="govuk-table__cell ">
            Lancashire Constabulary
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            24 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED20562</td>

          <td class="govuk-table__cell">
            Maziar Kouhyar</td>

          <td class="govuk-table__cell">
            Dyfed-Powys Police
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            26 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED23865</td>

          <td class="govuk-table__cell">
            Alex Woodyard</td>

          <td class="govuk-table__cell ">

          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            26 April 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED19220</td>

          <td class="govuk-table__cell">
            Rachel Watson</td>

          <td class="govuk-table__cell ">

          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            1 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10349</td>
          <td class="govuk-table__cell">
           Kai Chadwick</td>

          <td class="govuk-table__cell ">
            Metropolitan Police Service
           </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            2 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED29465</td>

          <td class="govuk-table__cell">
           Leona Batty</td>

         <td class="govuk-table__cell ">
           Lancashire Constabulary
         </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            4 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED19744</td>

          <td class="govuk-table__cell">
          Mary Harriott</td>

          <td class="govuk-table__cell ">
            Greater Manchester Police
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            6 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED28475</td>

          <td class="govuk-table__cell">
            Lendell Sykes-Kenworthy</td>

          <td class="govuk-table__cell ">
            Metropolitan Police Service
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            7 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED23944</td>

          <td class="govuk-table__cell">
           Samuel Campbell</td>

           <td class="govuk-table__cell ">
            Greater Manchester Police
           </td>

        </tr>

        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            7 May 2024</td>

          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED32843</a></td>

          <td class="govuk-table__cell">
            Sharon Dyson</td>

          <td class="govuk-table__cell ">
            West Midlands Police
          </td>

        </tr>

        <tr class="govuk-table__row">

          <td class="govuk-table__cell">
            8 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED19438</a></td>

          <td class="govuk-table__cell">
            Scott Fairweather</td>

          <td class="govuk-table__cell ">
            West Midlands Police
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            9 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED17626</td>

          <td class="govuk-table__cell">
            Abraham Odoh</td>

          <td class="govuk-table__cell ">
            Lancashire Constabulary
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            11 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10329</td>

          <td class="govuk-table__cell">
            Lewis O'Boyle</td>

          <td class="govuk-table__cell ">
            Lancashire Constabulary
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            13 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED14392</td>

          <td class="govuk-table__cell">
            Matilda Muldoon</td>

          <td class="govuk-table__cell ">
            Metropolitan Police Service
          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            13 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED45883</td>

          <td class="govuk-table__cell">
            James Bloxham</td>

          <td class="govuk-table__cell ">

          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            14 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED26437</td>

          <td class="govuk-table__cell">
            Derrick Ilesanmi</td>

          <td class="govuk-table__cell ">

          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            15 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED28458</td>

          <td class="govuk-table__cell">
            Anthony Sims</td>

          <td class="govuk-table__cell ">

          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            16 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED19834</td>
          <td class="govuk-table__cell">
           Gareth Oxley</td>

          <td class="govuk-table__cell ">

           </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            16 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10448</td>

          <td class="govuk-table__cell">
           Dale Hartigan</td>

         <td class="govuk-table__cell ">

         </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            19 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED35843</td>

          <td class="govuk-table__cell">
           Zak Gorman</td>

          <td class="govuk-table__cell ">

          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            20 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED22643</td>

          <td class="govuk-table__cell">
            Reece Hooper</td>

          <td class="govuk-table__cell ">

          </td>

        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            20 May 2024</td>

          <td class="govuk-table__cell govuk-link"><a class="govuk-link govuk-link--no-visited-state" href="">
            ED10922</td>

          <td class="govuk-table__cell">
           Gatlin Cropper</td>

           <td class="govuk-table__cell ">

           </td>

        </tr>

      </tbody>
    </table>

    </div>
  </div>

{% endblock %}
