{% extends "layouts/defra.html" %}

{% set pageName="What have we received?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "add-activity"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v7/dog-records/activity/received-confirmation" method="post">

        {{ govukRadios({
          name: "addReceived",
          fieldset: {
            legend: {
              text: "What have we received?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Police correspondence received",
              text: "Police correspondence"
            },
            {
              value: "Witness statement received",
              text: "Witness statement"
            },
            {
              value: "Judicial review received",
              text: "Judicial review"
            }
          ]
        }) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Received something not listed?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">
              <a class="govuk-link govuk-link--no-visited-state" href="../dog-record-ED30874">Update the details on the dog record</a> if we’ve received:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>an insurance certificate</li>
              <li>a change of address form</li>
              <li>evidence of the death of a dog</li>
            </ul>
            <p class="govuk-body">
              The update will show in the activity list.
            </p>
          </div>
        </details>

        <div class="govuk-form-group govuk-!-margin-top-7">
          <fieldset class="govuk-fieldset" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              When did we receive it?
            </legend>

            <div class="govuk-date-input" id="form-received">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="form-received-day">
                    Day
                  </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="form-received-day" name="form-received-day" type="text" value="8" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="form-received-month">
                    Month
                  </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="form-received-month" name="form-received-month" type="text" value="2" inputmode="numeric">
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="form-received-year">
                    Year
                  </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="form-received-year" name="form-received-year" type="text" value="2024" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
