{% extends "layouts/defra.html" %}

{% set pageName="What have you sent?" %}

{% block pageTitle %}
  {{ pageName }} – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "add-activity"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v7/dog-records/activity/sent-confirmation" method="post">

        {{ govukRadios({
          name: "formSent",
          fieldset: {
            legend: {
              text: "What have we sent?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-4"
            }
          },
          items: [
            {
              value: "Change of address form sent",
              text: "Change of address form"
            },
            {
              value: "Death of a dog form sent",
              text: "Death of a dog form"
            },
            {
              value: "Witness statement sent",
              text: "Witness statement"
            }
          ]
        }) }}

      <div class="govuk-form-group govuk-!-margin-top-7">
        <fieldset class="govuk-fieldset" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            When did we send it?
          </legend>

          <div class="govuk-date-input" id="form-sent">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="form-sent-day">
                  Day
                </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="form-sent-day" name="form-sent-day" type="text" value="8" inputmode="numeric">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="form-sent-month">
                  Month
                </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="form-sent-month" name="form-sent-month" type="text" value="2" inputmode="numeric">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="form-sent-year">
                  Year
                </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="form-sent-year" name="form-sent-year" type="text" value="2024" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
